@charset "UTF-8";

@import url("cert/assets/content.css");
@import url("cert/assets/waitMe.min.css");
@import url("cert/assets/slick/slick.css");
@import url("cert/assets/slick/slick-theme.css");
@import url("pages/responsive.css");