@charset "UTF-8";

.a {
  font-weight: 400;
}

.wd-10 {
  width: 10px !important;
}

.wd-20 {
  width: 20px !important;
}

.wd-30 {
  width: 30px !important;
}

.wd-40 {
  width: 40px !important;
}

.wd-50 {
  width: 50px !important;
}

.wd-60 {
  width: 60px !important;
}

.wd-70 {
  width: 70px !important;
}

.wd-80 {
  width: 80px !important;
}

.wd-90 {
  width: 90px !important;
}

.wd-100 {
  width: 100px !important;
}

.wd-110 {
  width: 110px !important;
}

.wd-120 {
  width: 120px !important;
}

.wd-130 {
  width: 130px !important;
}

.wd-140 {
  width: 140px !important;
}

.wd-150 {
  width: 150px !important;
}

.wd-160 {
  width: 160px !important;
}

.wd-170 {
  width: 170px !important;
}

.wd-180 {
  width: 180px !important;
}

.wd-190 {
  width: 190px !important;
}

.wd-200 {
  width: 200px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-110 {
  margin-top: 110px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mt-130 {
  margin-top: 130px !important;
}

.mt-140 {
  margin-top: 140px !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.mt-160 {
  margin-top: 160px !important;
}

.mt-170 {
  margin-top: 170px !important;
}

.mt-180 {
  margin-top: 180px !important;
}

.mt-190 {
  margin-top: 190px !important;
}

.mt-200 {
  margin-top: 200px !important;
}

.wd-1 {
  width: 1px !important;
}

.wd-2 {
  width: 2px !important;
}

.wd-3 {
  width: 3px !important;
}

.wd-4 {
  width: 4px !important;
}

.wd-5 {
  width: 5px !important;
}

.wd-6 {
  width: 6px !important;
}

.wd-7 {
  width: 7px !important;
}

.wd-8 {
  width: 8px !important;
}

.wd-9 {
  width: 9px !important;
}

.wd-10 {
  width: 10px !important;
}

.wd-11 {
  width: 11px !important;
}

.wd-12 {
  width: 12px !important;
}

.wd-13 {
  width: 13px !important;
}

.wd-14 {
  width: 14px !important;
}

.wd-15 {
  width: 15px !important;
}

.wd-16 {
  width: 16px !important;
}

.wd-17 {
  width: 17px !important;
}

.wd-18 {
  width: 18px !important;
}

.wd-19 {
  width: 19px !important;
}

.wd-20 {
  width: 20px !important;
}

.wd-21 {
  width: 21px !important;
}

.wd-22 {
  width: 22px !important;
}

.wd-23 {
  width: 23px !important;
}

.wd-24 {
  width: 24px !important;
}

.wd-25 {
  width: 25px !important;
}

.wd-26 {
  width: 26px !important;
}

.wd-27 {
  width: 27px !important;
}

.wd-28 {
  width: 28px !important;
}

.wd-29 {
  width: 29px !important;
}

.wd-30 {
  width: 30px !important;
}

.wd-31 {
  width: 31px !important;
}

.wd-32 {
  width: 32px !important;
}

.wd-33 {
  width: 33px !important;
}

.wd-34 {
  width: 34px !important;
}

.wd-35 {
  width: 35px !important;
}

.wd-36 {
  width: 36px !important;
}

.wd-37 {
  width: 37px !important;
}

.wd-38 {
  width: 38px !important;
}

.wd-39 {
  width: 39px !important;
}

.wd-40 {
  width: 40px !important;
}

.wd-41 {
  width: 41px !important;
}

.wd-42 {
  width: 42px !important;
}

.wd-43 {
  width: 43px !important;
}

.wd-44 {
  width: 44px !important;
}

.wd-45 {
  width: 45px !important;
}

.wd-46 {
  width: 46px !important;
}

.wd-47 {
  width: 47px !important;
}

.wd-48 {
  width: 48px !important;
}

.wd-49 {
  width: 49px !important;
}

.wd-50 {
  width: 50px !important;
}

.wd-51 {
  width: 51px !important;
}

.wd-52 {
  width: 52px !important;
}

.wd-53 {
  width: 53px !important;
}

.wd-54 {
  width: 54px !important;
}

.wd-55 {
  width: 55px !important;
}

.wd-56 {
  width: 56px !important;
}

.wd-57 {
  width: 57px !important;
}

.wd-58 {
  width: 58px !important;
}

.wd-59 {
  width: 59px !important;
}

.wd-60 {
  width: 60px !important;
}

.wd-61 {
  width: 61px !important;
}

.wd-62 {
  width: 62px !important;
}

.wd-63 {
  width: 63px !important;
}

.wd-64 {
  width: 64px !important;
}

.wd-65 {
  width: 65px !important;
}

.wd-66 {
  width: 66px !important;
}

.wd-67 {
  width: 67px !important;
}

.wd-68 {
  width: 68px !important;
}

.wd-69 {
  width: 69px !important;
}

.wd-70 {
  width: 70px !important;
}

.wd-71 {
  width: 71px !important;
}

.wd-72 {
  width: 72px !important;
}

.wd-73 {
  width: 73px !important;
}

.wd-74 {
  width: 74px !important;
}

.wd-75 {
  width: 75px !important;
}

.wd-76 {
  width: 76px !important;
}

.wd-77 {
  width: 77px !important;
}

.wd-78 {
  width: 78px !important;
}

.wd-79 {
  width: 79px !important;
}

.wd-80 {
  width: 80px !important;
}

.wd-81 {
  width: 81px !important;
}

.wd-82 {
  width: 82px !important;
}

.wd-83 {
  width: 83px !important;
}

.wd-84 {
  width: 84px !important;
}

.wd-85 {
  width: 85px !important;
}

.wd-86 {
  width: 86px !important;
}

.wd-87 {
  width: 87px !important;
}

.wd-88 {
  width: 88px !important;
}

.wd-89 {
  width: 89px !important;
}

.wd-90 {
  width: 90px !important;
}

.wd-91 {
  width: 91px !important;
}

.wd-92 {
  width: 92px !important;
}

.wd-93 {
  width: 93px !important;
}

.wd-94 {
  width: 94px !important;
}

.wd-95 {
  width: 95px !important;
}

.wd-96 {
  width: 96px !important;
}

.wd-97 {
  width: 97px !important;
}

.wd-98 {
  width: 98px !important;
}

.wd-99 {
  width: 99px !important;
}

.wd-100 {
  width: 100px !important;
}

.wd-101 {
  width: 101px !important;
}

.wd-102 {
  width: 102px !important;
}

.wd-103 {
  width: 103px !important;
}

.wd-104 {
  width: 104px !important;
}

.wd-105 {
  width: 105px !important;
}

.wd-106 {
  width: 106px !important;
}

.wd-107 {
  width: 107px !important;
}

.wd-108 {
  width: 108px !important;
}

.wd-109 {
  width: 109px !important;
}

.wd-110 {
  width: 110px !important;
}

.wd-111 {
  width: 111px !important;
}

.wd-112 {
  width: 112px !important;
}

.wd-113 {
  width: 113px !important;
}

.wd-114 {
  width: 114px !important;
}

.wd-115 {
  width: 115px !important;
}

.wd-116 {
  width: 116px !important;
}

.wd-117 {
  width: 117px !important;
}

.wd-118 {
  width: 118px !important;
}

.wd-119 {
  width: 119px !important;
}

.wd-120 {
  width: 120px !important;
}

.wd-121 {
  width: 121px !important;
}

.wd-122 {
  width: 122px !important;
}

.wd-123 {
  width: 123px !important;
}

.wd-124 {
  width: 124px !important;
}

.wd-125 {
  width: 125px !important;
}

.wd-126 {
  width: 126px !important;
}

.wd-127 {
  width: 127px !important;
}

.wd-128 {
  width: 128px !important;
}

.wd-129 {
  width: 129px !important;
}

.wd-130 {
  width: 130px !important;
}

.wd-131 {
  width: 131px !important;
}

.wd-132 {
  width: 132px !important;
}

.wd-133 {
  width: 133px !important;
}

.wd-134 {
  width: 134px !important;
}

.wd-135 {
  width: 135px !important;
}

.wd-136 {
  width: 136px !important;
}

.wd-137 {
  width: 137px !important;
}

.wd-138 {
  width: 138px !important;
}

.wd-139 {
  width: 139px !important;
}

.wd-140 {
  width: 140px !important;
}

.wd-141 {
  width: 141px !important;
}

.wd-142 {
  width: 142px !important;
}

.wd-143 {
  width: 143px !important;
}

.wd-144 {
  width: 144px !important;
}

.wd-145 {
  width: 145px !important;
}

.wd-146 {
  width: 146px !important;
}

.wd-147 {
  width: 147px !important;
}

.wd-148 {
  width: 148px !important;
}

.wd-149 {
  width: 149px !important;
}

.wd-150 {
  width: 150px !important;
}

.wd-151 {
  width: 151px !important;
}

.wd-152 {
  width: 152px !important;
}

.wd-153 {
  width: 153px !important;
}

.wd-154 {
  width: 154px !important;
}

.wd-155 {
  width: 155px !important;
}

.wd-156 {
  width: 156px !important;
}

.wd-157 {
  width: 157px !important;
}

.wd-158 {
  width: 158px !important;
}

.wd-159 {
  width: 159px !important;
}

.wd-160 {
  width: 160px !important;
}

.wd-161 {
  width: 161px !important;
}

.wd-162 {
  width: 162px !important;
}

.wd-163 {
  width: 163px !important;
}

.wd-164 {
  width: 164px !important;
}

.wd-165 {
  width: 165px !important;
}

.wd-166 {
  width: 166px !important;
}

.wd-167 {
  width: 167px !important;
}

.wd-168 {
  width: 168px !important;
}

.wd-169 {
  width: 169px !important;
}

.wd-170 {
  width: 170px !important;
}

.wd-171 {
  width: 171px !important;
}

.wd-172 {
  width: 172px !important;
}

.wd-173 {
  width: 173px !important;
}

.wd-174 {
  width: 174px !important;
}

.wd-175 {
  width: 175px !important;
}

.wd-176 {
  width: 176px !important;
}

.wd-177 {
  width: 177px !important;
}

.wd-178 {
  width: 178px !important;
}

.wd-179 {
  width: 179px !important;
}

.wd-180 {
  width: 180px !important;
}

.wd-181 {
  width: 181px !important;
}

.wd-182 {
  width: 182px !important;
}

.wd-183 {
  width: 183px !important;
}

.wd-184 {
  width: 184px !important;
}

.wd-185 {
  width: 185px !important;
}

.wd-186 {
  width: 186px !important;
}

.wd-187 {
  width: 187px !important;
}

.wd-188 {
  width: 188px !important;
}

.wd-189 {
  width: 189px !important;
}

.wd-190 {
  width: 190px !important;
}

.wd-191 {
  width: 191px !important;
}

.wd-192 {
  width: 192px !important;
}

.wd-193 {
  width: 193px !important;
}

.wd-194 {
  width: 194px !important;
}

.wd-195 {
  width: 195px !important;
}

.wd-196 {
  width: 196px !important;
}

.wd-197 {
  width: 197px !important;
}

.wd-198 {
  width: 198px !important;
}

.wd-199 {
  width: 199px !important;
}

.wd-200 {
  width: 200px !important;
}

.wd-201 {
  width: 201px !important;
}

.wd-202 {
  width: 202px !important;
}

.wd-203 {
  width: 203px !important;
}

.wd-204 {
  width: 204px !important;
}

.wd-205 {
  width: 205px !important;
}

.wd-206 {
  width: 206px !important;
}

.wd-207 {
  width: 207px !important;
}

.wd-208 {
  width: 208px !important;
}

.wd-209 {
  width: 209px !important;
}

.wd-210 {
  width: 210px !important;
}

.wd-211 {
  width: 211px !important;
}

.wd-212 {
  width: 212px !important;
}

.wd-213 {
  width: 213px !important;
}

.wd-214 {
  width: 214px !important;
}

.wd-215 {
  width: 215px !important;
}

.wd-216 {
  width: 216px !important;
}

.wd-217 {
  width: 217px !important;
}

.wd-218 {
  width: 218px !important;
}

.wd-219 {
  width: 219px !important;
}

.wd-220 {
  width: 220px !important;
}

.wd-221 {
  width: 221px !important;
}

.wd-222 {
  width: 222px !important;
}

.wd-223 {
  width: 223px !important;
}

.wd-224 {
  width: 224px !important;
}

.wd-225 {
  width: 225px !important;
}

.wd-226 {
  width: 226px !important;
}

.wd-227 {
  width: 227px !important;
}

.wd-228 {
  width: 228px !important;
}

.wd-229 {
  width: 229px !important;
}

.wd-230 {
  width: 230px !important;
}

.wd-231 {
  width: 231px !important;
}

.wd-232 {
  width: 232px !important;
}

.wd-233 {
  width: 233px !important;
}

.wd-234 {
  width: 234px !important;
}

.wd-235 {
  width: 235px !important;
}

.wd-236 {
  width: 236px !important;
}

.wd-237 {
  width: 237px !important;
}

.wd-238 {
  width: 238px !important;
}

.wd-239 {
  width: 239px !important;
}

.wd-240 {
  width: 240px !important;
}

.wd-241 {
  width: 241px !important;
}

.wd-242 {
  width: 242px !important;
}

.wd-243 {
  width: 243px !important;
}

.wd-244 {
  width: 244px !important;
}

.wd-245 {
  width: 245px !important;
}

.wd-246 {
  width: 246px !important;
}

.wd-247 {
  width: 247px !important;
}

.wd-248 {
  width: 248px !important;
}

.wd-249 {
  width: 249px !important;
}

.wd-250 {
  width: 250px !important;
}

.wd-251 {
  width: 251px !important;
}

.wd-252 {
  width: 252px !important;
}

.wd-253 {
  width: 253px !important;
}

.wd-254 {
  width: 254px !important;
}

.wd-255 {
  width: 255px !important;
}

.wd-256 {
  width: 256px !important;
}

.wd-257 {
  width: 257px !important;
}

.wd-258 {
  width: 258px !important;
}

.wd-259 {
  width: 259px !important;
}

.wd-260 {
  width: 260px !important;
}

.wd-261 {
  width: 261px !important;
}

.wd-262 {
  width: 262px !important;
}

.wd-263 {
  width: 263px !important;
}

.wd-264 {
  width: 264px !important;
}

.wd-265 {
  width: 265px !important;
}

.wd-266 {
  width: 266px !important;
}

.wd-267 {
  width: 267px !important;
}

.wd-268 {
  width: 268px !important;
}

.wd-269 {
  width: 269px !important;
}

.wd-270 {
  width: 270px !important;
}

.wd-271 {
  width: 271px !important;
}

.wd-272 {
  width: 272px !important;
}

.wd-273 {
  width: 273px !important;
}

.wd-274 {
  width: 274px !important;
}

.wd-275 {
  width: 275px !important;
}

.wd-276 {
  width: 276px !important;
}

.wd-277 {
  width: 277px !important;
}

.wd-278 {
  width: 278px !important;
}

.wd-279 {
  width: 279px !important;
}

.wd-280 {
  width: 280px !important;
}

.wd-281 {
  width: 281px !important;
}

.wd-282 {
  width: 282px !important;
}

.wd-283 {
  width: 283px !important;
}

.wd-284 {
  width: 284px !important;
}

.wd-285 {
  width: 285px !important;
}

.wd-286 {
  width: 286px !important;
}

.wd-287 {
  width: 287px !important;
}

.wd-288 {
  width: 288px !important;
}

.wd-289 {
  width: 289px !important;
}

.wd-290 {
  width: 290px !important;
}

.wd-291 {
  width: 291px !important;
}

.wd-292 {
  width: 292px !important;
}

.wd-293 {
  width: 293px !important;
}

.wd-294 {
  width: 294px !important;
}

.wd-295 {
  width: 295px !important;
}

.wd-296 {
  width: 296px !important;
}

.wd-297 {
  width: 297px !important;
}

.wd-298 {
  width: 298px !important;
}

.wd-299 {
  width: 299px !important;
}

.wd-300 {
  width: 300px !important;
}

.wd-301 {
  width: 301px !important;
}

.wd-302 {
  width: 302px !important;
}

.wd-303 {
  width: 303px !important;
}

.wd-304 {
  width: 304px !important;
}

.wd-305 {
  width: 305px !important;
}

.wd-306 {
  width: 306px !important;
}

.wd-307 {
  width: 307px !important;
}

.wd-308 {
  width: 308px !important;
}

.wd-309 {
  width: 309px !important;
}

.wd-310 {
  width: 310px !important;
}

.wd-311 {
  width: 311px !important;
}

.wd-312 {
  width: 312px !important;
}

.wd-313 {
  width: 313px !important;
}

.wd-314 {
  width: 314px !important;
}

.wd-315 {
  width: 315px !important;
}

.wd-316 {
  width: 316px !important;
}

.wd-317 {
  width: 317px !important;
}

.wd-318 {
  width: 318px !important;
}

.wd-319 {
  width: 319px !important;
}

.wd-320 {
  width: 320px !important;
}

.wd-321 {
  width: 321px !important;
}

.wd-322 {
  width: 322px !important;
}

.wd-323 {
  width: 323px !important;
}

.wd-324 {
  width: 324px !important;
}

.wd-325 {
  width: 325px !important;
}

.wd-326 {
  width: 326px !important;
}

.wd-327 {
  width: 327px !important;
}

.wd-328 {
  width: 328px !important;
}

.wd-329 {
  width: 329px !important;
}

.wd-330 {
  width: 330px !important;
}

.wd-331 {
  width: 331px !important;
}

.wd-332 {
  width: 332px !important;
}

.wd-333 {
  width: 333px !important;
}

.wd-334 {
  width: 334px !important;
}

.wd-335 {
  width: 335px !important;
}

.wd-336 {
  width: 336px !important;
}

.wd-337 {
  width: 337px !important;
}

.wd-338 {
  width: 338px !important;
}

.wd-339 {
  width: 339px !important;
}

.wd-340 {
  width: 340px !important;
}

.wd-341 {
  width: 341px !important;
}

.wd-342 {
  width: 342px !important;
}

.wd-343 {
  width: 343px !important;
}

.wd-344 {
  width: 344px !important;
}

.wd-345 {
  width: 345px !important;
}

.wd-346 {
  width: 346px !important;
}

.wd-347 {
  width: 347px !important;
}

.wd-348 {
  width: 348px !important;
}

.wd-349 {
  width: 349px !important;
}

.wd-350 {
  width: 350px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-9 {
  margin-right: 9px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-0 {
  margin-left: 0px !important;
}
.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-11 {
  margin-bottom: 11px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-13 {
  margin-bottom: 13px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-17 {
  margin-bottom: 17px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-19 {
  margin-bottom: 19px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-21 {
  margin-bottom: 21px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.mb-23 {
  margin-bottom: 23px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.mb-27 {
  margin-bottom: 27px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-29 {
  margin-bottom: 29px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-31 {
  margin-bottom: 31px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-33 {
  margin-bottom: 33px !important;
}

.mb-34 {
  margin-bottom: 34px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-37 {
  margin-bottom: 37px !important;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.mb-39 {
  margin-bottom: 39px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-41 {
  margin-bottom: 41px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.mb-43 {
  margin-bottom: 43px !important;
}

.mb-44 {
  margin-bottom: 44px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-46 {
  margin-bottom: 46px !important;
}

.mb-47 {
  margin-bottom: 47px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.mb-49 {
  margin-bottom: 49px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-9 {
  margin-top: 9px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-11 {
  margin-top: 11px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-13 {
  margin-top: 13px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-17 {
  margin-top: 17px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-19 {
  margin-top: 19px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-21 {
  margin-top: 21px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-23 {
  margin-top: 23px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mt-27 {
  margin-top: 27px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mt-29 {
  margin-top: 29px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-31 {
  margin-top: 31px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-33 {
  margin-top: 33px !important;
}

.mt-34 {
  margin-top: 34px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.font-0 {
  font-size: 0 !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.font-roboto {
  font-family: "roboto", "Malgun Gothic", sans-serif;
}

.font-l {
  font-weight: 100;
}

.font-s {
  font-weight: 300;
}

.font-r {
  font-weight: 400;
}

.font-m {
  font-weight: 500;
}

.font-b {
  font-weight: 700;
}

.font-eb {
  font-weight: 900;
}

.font-40 {
  font-size: 40px;
}

.font-35 {
  font-size: 35px;
}

.font-30 {
  font-size: 30px;
}

.font-29 {
  font-size: 29px;
}

.font-27 {
  font-size: 27px;
}

.font-25 {
  font-size: 25px;
}

.font-23 {
  font-size: 23px;
}

.font-22 {
  font-size: 22px;
}

.font-21 {
  font-size: 21px;
}

.font-20 {
  font-size: 20px;
}

.font-19 {
  font-size: 19px;
}

.font-18 {
  font-size: 18px;
}

.font-17 {
  font-size: 17px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
}

.font-12 {
  font-size: 12px;
}

.b-top {
  border-top: 2px solid #025AC6;
}

.b-r--none {
  border-right: none !important;
}

.modal {
  display: block !important;
}

.modal .teamSelect {
  width: 976px;
  min-height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.modal .teamSelect-head {
  height: 105px;
  background: linear-gradient(265deg, #339fd9, #035ac6);
  padding: 34px 24px 0 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .teamSelect-head .btn_close_popup {
  position: absolute;
  display: block;
  top: 16px;
  right: 24px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../img/ggin_golf/icon_close.svg) no-repeat center #3d3d3d;
  z-index: 1;
  cursor: pointer;
}

.modal .teamSelect-head img.icon {
  position: absolute;
  top: 22px;
  left: 24px;
}

.modal .teamSelect-head__left {
  color: #fff;
  padding-left: 85px;
}

.modal .teamSelect-head ul {
  display: flex;
  align-items: center;
}

.modal .teamSelect-head ul li {
  color: #fff;
}

.modal .teamSelect-head ul li span {
  color: #fff;
}

.modal .teamSelect-head ul .m-r--7 {
  margin-right: 7px;
}

.modal .teamSelect-head ul .bar::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  position: relative;
  margin: 0 10px;
  background: #b1b1b1;
  top: 1px;
}

.modal .teamSelect-head ul .help {
  border-radius: 30px;
  background: #3d3d3d;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}

.modal .teamSelect-head ul .help .num {
  line-height: 1.6;
}

.modal .teamSelect-head ul .help .num::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  position: relative;
  margin: 0 7px;
  background: #fff;
}

.modal .teamSelect .moreInput h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.modal .teamSelect .moreInput p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 8px;
}

.modal .teamSelect .moreInput-body {
  display: flex;
}

.modal .teamSelect .moreInput-body>div {
  width: 100%;
}

.modal .teamSelect .moreInput-body .content-section {
  margin-bottom: 25px;
}

.modal .teamSelect .moreInput-body .content-section:last-child {
  margin-bottom: 0;
}

.modal .teamSelect .moreInput-body .left-con {
  border-right: 1px solid #CCCCCC;
}

.modal .teamSelect .moreInput-body .right-con {
  padding-left: 25px;
}

.modal .teamSelect-con {
  padding: 20px 24px;
  background: #fff;
}
/* 새로추가 */
.modal .teamSelect-con table th{
  background-color: #f3f3f3;
  padding:6px 0;
  border:1px solid #7e7e7e;
}
.modal .teamSelect-con table tr td{
  padding: 6px 0;
  text-align: center;
  border:1px solid #7e7e7e;
}

.modal .teamSelect-con table tbody tr td button {
    width: 59px;
    height: 30px;
    background: #f5f5f5;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    font-size: 15px;
}


.modal .teamSelect-con .formInput {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.modal .teamSelect-con .formInput-input {
  font-size: 0;
  margin-left: 6px;
}

.modal .teamSelect-con .formInput-input input {
  width: 246px;
  border-radius: 3px 0 0 3px;
}

.modal .teamSelect-con .formInput .btn {
  width: 60px;
  height: 40px;
  border-radius: 3px;
  border: none;
  border-top: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  background: #f5f5f5;
  text-align: center;
  padding: 0;
  color: #3d3d3d;
}

.modal .teamSelect-con .table-head {
  display: flex;
  background-color: #F3F3F3;
  border-top: 1px solid #7E7E7E;
  border-bottom: 1px solid #7E7E7E;
  border-left: 1px solid #B1B1B1;
}

.modal .teamSelect-con .table-head div {
  text-align: center;
  border-right: 1px solid #B1B1B1;
  font-size: 16px;
  padding: 7px 0;
}

.modal .teamSelect-con .table-body {
  height: 394px;
  overflow-y: auto;
  border-bottom: 1px solid #B1B1B1;
}

.modal .teamSelect-con .table-body table {
  border-collapse: collapse;
}

.modal .teamSelect-con .table-body table .height-393 {
  height: 393px;
}

.modal .teamSelect-con .table-body table td {
  border: 1px solid #B1B1B1;
  text-align: center;
  padding: 12px 0;
}

.modal .teamSelect-con .table-body table td .choice {
  width: 59px;
  height: 30px;
  background: #f5f5f5;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  font-size: 15px;
}

.modal .teamSelect-con .submit-group button {
  height: 50px;
  border: 1px solid #B1B1B1;
  padding: 0 32px;
  font-size: 20px;
  font-weight: 500;
}

.modal .teamSelect-con .submit-group .submit {
  background-color: #3D3D3D;
  color: #fff;
}

.modal .teamSelect-con .submit-group .reset {
  background-color: #F5F5F5;
  color: #3D3D3D;
}

.modal .teamSelect-con__scroll table {
  /* display:block; */
}

.modal .teamSelect-con__scroll table thead {
  /* display: block; */
}

.modal .teamSelect-con__scroll table thead tr {
  /* display: block; */
}

.modal .teamSelect-con__scroll table thead tr th {
  text-align: center;
  background: #f3f3f3;
  font-weight: 400;
  padding: 6px 0;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-bottom: 1px solid #7e7e7e;
}

.modal .teamSelect-con__scroll table thead tr th:first-child {
  width: 71px;
  border-left: 1px solid #7e7e7e;
}

.modal .teamSelect-con__scroll table thead tr th:nth-child(2) {
  width: 102px;
}

.modal .teamSelect-con__scroll table thead tr th:nth-child(3) {
  width: 312px;
}

.modal .teamSelect-con__scroll table thead tr th:nth-child(4) {
  width: 110px;
}

.modal .teamSelect-con__scroll table thead tr th:nth-child(5) {
  width: 91px;
}

.modal .teamSelect-con__scroll table thead tr th:nth-child(6) {
  width: 111px;
}

.modal .teamSelect-con__scroll table thead tr th:nth-child(7) {
  width: 129px;
}

.modal .teamSelect-con__scroll table tbody {
  /* display: block; */
  /* height: 433px; */
  overflow-y: scroll;
  border-right: 1px solid #7e7e7e;
}

.modal .teamSelect-con__scroll table tbody tr td {
  text-align: center;
  border-right: 1px solid #7e7e7e;
  padding: 6px 0;
  border-bottom: 1px solid #7e7e7e;
}

.modal .teamSelect-con__scroll table tbody tr td:first-child {
  border-left: 1px solid #7e7e7e;
}

.modal .teamSelect-con__scroll table tbody tr td:last-child {
  border-right: none;
}

.modal .teamSelect-con__scroll table tbody tr td button {
  width: 59px;
  height: 30px;
  background: #f5f5f5;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  font-size: 15px;
}

.modal .teamSelect-con__scroll table tbody tr td.t-l {
  /* padding-left: 19px; */
  padding-left: 10px;
}

.w-73 {
  width: 73px;
}

.w-104 {
  width: 104px;
}

.w-321 {
  width: 321px;
}

.w-320 {
  width: 320px;
}

.w-114 {
  width: 114px;
}

.w-93 {
  width: 93px;
}

.w-228 {
  width: 228px;
}

.w-115 {
  width: 115px;
}

.t-l {
  text-align: left !important;
}

.wd-265 {
  width: 265px !important;
}

.wd-725 {
  width: 725px !important;
}

.non-height {
  min-height: auto !important;
}

nav .inner .nav-right ul, nav .inner .nav-left, nav .inner, header .inner__right ul, header .inner__left, header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .inner .nav-right ul li a, nav .inner .nav-right ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #9a9a9a;
  padding-top: 33px;
  min-width: 1200px;
}

header .inner {
  width: 1200px;
  margin: 0 auto;
}

header .inner__left .logo {
  position: relative;
  margin-right: 31px;
}

header .inner__left .logo h1 {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

header .inner__left .logo h1 img {
  margin-right: 12px;
}

header .inner__left .logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header .inner__left .logo::after {
  display: block;
  content: "";
  width: 1px;
  height: 21px;
  position: absolute;
  background-color: #B1B1B1;
  right: -15px;
  top: 15px;
}

header .inner__left .select {
  position: relative;
}

header .inner__left .select-option {
  color: #fff;
  padding: 3px 10px 3px 14px;
  border-radius: 18px;
  cursor: pointer;
}

header .inner__left .select-option .icon {
  vertical-align: middle;
  margin-left: 20px;
}

header .inner__left .select-option.referee {
  background: #029ec6;
}

header .inner__left .select-option.manager {
  background: #16b7ac;
}

header .inner__left .select-option.player {
  background: #025ac6;
}

header .inner__left .select-option.master {
  background: #0283c6;
}

header .inner__left .select-gray .select-list li:last-child {
  margin-right: 0;
}

header .inner__left .select-gray .select-list li a {
  position: absolute;
  width: 100%;
  height: 100%;
}

header .inner__left .select-gray .select-list li div {
  height: 82px;
  width: 78px;
  margin: 0 auto;
  border-bottom: 1px solid #6a6a6a;
}

header .inner__left .select-gray .select-list li p {
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-top: 7px;
  height: 64px;
}

header .inner__left .select-gray .select-list li.player:hover {
  background: #025ac6;
  border: 1px solid #025ac6;
}

header .inner__left .select-gray .select-list li.player div {
  background: url(../img/ggin_golf/top_select_img_1.svg) no-repeat 14px;
}

header .inner__left .select-gray .select-list li.master:hover {
  background: #0283c6;
  border: 1px solid #0283c6;
}

header .inner__left .select-gray .select-list li.master div {
  background: url(../img/ggin_golf/top_select_img_2.svg) no-repeat 18px;
}

header .inner__left .select-gray .select-list li.referee:hover {
  background: #029ec6;
  border: 1px solid #029ec6;
}

header .inner__left .select-gray .select-list li.referee div {
  background: url(../img/ggin_golf/top_select_img_3.svg) no-repeat 14px;
}

header .inner__left .select-gray .select-list li.manager:hover {
  background: #16b7ac;
  border: 1px solid #16b7ac;
}

header .inner__left .select-gray .select-list li.manager div {
  background: url(../img/ggin_golf/top_select_img_4.svg) no-repeat 10px;
}

header .inner__left .select-gray .select-bottom {
  color: #fff;
  text-align: center;
  margin:auto;
  width:90%;
  margin-top:10px;
}

header .inner__left .select-gray .select-list {
  display: flex;
  justify-content:center;
}

header .inner__left .select-gray .select-list li {
  /* float: left; */
  width: 92px;
  height: 147px;
  border: 1px solid #6a6a6a;
  border-radius: 7px;
  box-sizing: border-box;
  position: relative;
  /* flex: none; */
  margin:5px;
}

header .inner__left .select-gray .select-close {
  position: absolute;
  top: 34px;
  right: 25px;
}

header .inner__left .select-gray h1 {
  font-size: 22px;
  color: #71cbff;
  font-weight: 500;
  text-align: center;
  margin-bottom:10px;
  margin-top:10px;
}
header .inner__left .select-gray {
  width: 430px;
  height: auto;
  /* background:#3d3d3d url(../img/ggin_golf/top_select_box.svg); */
  background:url(../img/ggin_golf/top_select_box.svg);
  position: absolute;
  padding: 25px 20px;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-repeat: no-repeat;
  background-size:cover;
  box-sizing: content-box;
  border-radius: 10px;
}

header .inner__left .select-gray .select-bottom span{
 display: block; color: #ffd500;
}
.select-bottom  a.toggle-link {
  width: 142px;
  height: 30px;
  padding: 4px 17px 4px 18px;
  border-radius: 15px;
  background: #fff;
  /* position: static; */
  font-size: 16px;
  margin-top: 15px;
  display: inline-block;
  box-sizing: border-box;
}

header .inner__left .select .select-gray.show {
  display: block;
}

header .inner__right ul li:not(.nonebar)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #b1b1b1;
  position: relative;
  margin: 0 12px;
}

header .inner__right ul li.help {
  border-radius: 30px;
  background: #3d3d3d;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-left: 6px;
  cursor: pointer;
}

header .inner__right ul li.help span {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}

header .inner__right ul li.help button {
  color: #fff;
}

header .inner__right ul li.help .num {
  line-height: 1.6;
}

header .inner__right ul li.help .num::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  position: relative;
  margin: 0 7px;
  background: #fff;
  position: relative;
  top: 1px;
}

nav {
  height: 82px;
}

nav .inner {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

nav .inner .nav-left {
  height: 100%;
}

nav .inner .nav-left li {
  margin-right: 17px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav .inner .nav-left li a {
  font-weight: 500;
  font-size: 17px;
}

nav .inner .nav-left li.is_active {
  position: relative;
}

nav .inner .nav-left li.is_active a {
  color: #025ac6;
  font-weight: bold;
}

nav .inner .nav-left li.is_active::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #025ac6;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .inner .nav-right {
  height: 100%;
}

nav .inner .nav-right ul {
  height: 100%;
}

nav .inner .nav-right ul li {
  height: 100%;
}

nav .inner .nav-right ul li a {
  font-size: 15px;
  height: 100%;
}

nav .inner .nav-right ul li.is_active a {
  color: #025ac6;
  position: relative;
  font-weight: bold;
}

nav .inner .nav-right ul li.is_active a::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #025ac6;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .inner .nav-right ul li:not(.nonebar)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #b1b1b1;
  position: relative;
  margin: 0 10px;
}

nav .inner .nav-right ul .logout {
  width: 68px;
  height: 25px;
  text-align: center;
  margin-left: 30px;
  border-radius: 3px;
  border: solid 1px #b1b1b1;
  background-color: #f5f5f5;
  font-size: 14px;
  cursor: pointer;
}

footer {
  padding: 38px 0 78px 0;
  background: #fff;
  min-width: 1200px;
}

footer .inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

footer .inner-top {
  margin-bottom: 10px;
}

footer .inner-top__logo h2 {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
}

footer .inner-top__logo h2 img {
  margin-right: 9px;
}

footer .inner-mid {
  margin-bottom: 15px;
}

footer .inner-mid ul li {
  margin-bottom: 5px;
}

footer .inner-mid ul li span:not(.nonebar)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #b1b1b1;
  position: relative;
  margin: 0 15px 0 17px;
  top: 2px;
}

footer .inner-foot ul {
  display: flex;
  justify-content: flex-start;
}

footer .inner-foot ul .blue {
  color: #0082ab;
  font-weight: 500;
  margin-bottom: 5px;
}

footer .inner-foot ul .blue::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #b1b1b1;
  position: relative;
  margin: 0 17px;
  top: 1px;
}

footer .inner-foot ul li .icon-remote {
  margin-right: 3px;
}

footer .inner .right-logos {
  position: absolute;
  right: 0;
  display: flex;
  top: 20px;
}

footer .inner .right-logos ul li {
  display: flex;
  flex-direction: column;
}

footer .inner .right-logos ul li .sports-logo {
  width: 167px;
}

footer .inner .right-logos ul .error {
  padding: 3px 0 0 65px;
  background: url(../img/common/foot_support.svg) no-repeat left center;
  margin-bottom: 30px;
}

/* 화면 도움말 모달 */
.modal_type01 {
  z-index: 100;
}

.modal_type01 .modal {
  border: 1px solid #b1b1b1;
  border-radius: 0;
}

.modal_type01 .modal .modal-top {
  position: relative;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.modal_type01 .modal .modal-top span {
  font-weight: 700;
  font-size: 15px;
  color: #3d3d3d;
}

.modal_type01 .modal .modal-top button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.modal_type01 .modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 24px;
  background: linear-gradient(265deg, #339fd9, #035ac6);
}

.modal_type01 .modal .modal-header .left h1 {
  color: #fff;
}

.modal_type01 .modal .modal-header .right .screen_numb_area span {
  display: inline-block;
  vertical-align: middle;
}

.modal_type01 .modal .modal-header .right .screen_numb_area .txt {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.modal_type01 .modal .modal-header .right .screen_numb_area .numb {
  width: 60px;
  height: 30px;
  line-height: 30px;
  background: #3d3d3d;
  border-radius: 16px;
  font-family: "roboto", "sans-serif";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.modal_type01 .modal .modal-body {
  overflow: auto;
  height: 622px;
}

.maxwd-1200 {
  width: 92% !important;
  max-width: 1200px !important;
}

/* 목록01 */
.list_type01 {
  line-height: 2;
  padding: 30px;
  font-size: 16px;
  color: #3d3d3d;
}

/* //목록01 */

#SearchTeamVO {
  height: 450px;
}

#SearchTeamVO table {}

#divTeamList {
  overflow: auto;
  height: 450px;
}

.formSection-item-inner .inner{
  display: flex; align-items: center;
}