.icon-num__5, .icon-num__4, .icon-num__3, .icon-num__2, .icon-num__1 {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon-arrow {
  display: inline-block;
  width: 22px;
  background: url(../img/join/id_arrow.svg) no-repeat center;
  height: 12px;
  margin-left: 5px;
}
.icon-num__1 {
  background: url(../img/join/num_1.svg) no-repeat center;
  background-size: 100%;
}
.icon-num__2 {
  background: url(../img/join/num_2.svg) no-repeat center;
  background-size: 100%;
}
.icon-num__3 {
  background: url(../img/join/num_3.svg) no-repeat center;
  background-size: 100%;
}
.icon-num__4 {
  background: url(../img/join/num_4.svg) no-repeat center;
  background-size: 100%;
}
.icon-num__5 {
  background: url(../img/join/num_5.svg) no-repeat center;
  background-size: 100%;
}
.icon-bell {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../img/common/bell.svg) no-repeat center;
  background-size: 100%;
}
.icon-plus {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/common/plus.svg) no-repeat center;
  background-size: 100%;
}
.icon-edu {
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url(../img/join/icon_edu.svg) no-repeat center;
  background-size: 100%;
}
.icon-prize {
  display: inline-block;
  width: 68px;
  height: 65px;
  background: url(../img/join/icon_prize.svg) no-repeat center;
  background-size: 100%;
}
.icon-award {
  display: inline-block;
  width: 52px;
  height: 54px;
  background: url(../img/join/icon_award.svg) no-repeat center;
  background-size: 100%;
}
.icon-training {
  display: inline-block;
  width: 52px;
  height: 52px;
  background: url(../img/join/icon_training.svg) no-repeat center;
  background-size: 100%;
}
.icon-home {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/common/home.svg) no-repeat center;
  background-size: 100%;
}
.icon-arrow__w {
  width: 12px;
  height: 8px;
  background: url(../img/common/nav_arrow_w.svg) no-repeat center;
  background-size: 100%;
  display: inline-block;
}
.icon-list {
  width: 14px;
  height: 18px;
  background: url(../img/common/icon_list.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-watch {
  width: 24px;
  height: 24px;
  background: url(../img/common/icon_watch.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-message {
  width: 18px;
  height: 17px;
  background: url(../img/common/message.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-pagination {
  width: 5px;
  height: 10px;
  background: url(../img/common/pagination_arrow.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-pagination--d {
  width: 10px;
  height: 10px;
  background: url(../img/common/pagination_arrow_d.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-lock {
  width: 14px;
  height: 18px;
  background: url(../img/common/lock.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-download {
  width: 16px;
  height: 16px;
  background: url(../img/common/download.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-clock {
  width: 72px;
  height: 72px;
  background: url(../img/ssp/clock.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-share {
  width: 50px;
  height: 50px;
  background: url(../img/common/share.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-plus__more {
  width: 18px;
  height: 18px;
  background: url(../img/ssp/plus_w.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-select__arrow {
  width: 18px;
  /* height: 18px; */
  height: 30px;
  background: url(../img/common/select-arrow.svg) no-repeat center/100%;
  display: inline-block;
}
.icon-remote {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/ggin_golf/remote.svg) no-repeat center/100%;
}
.icon-top__arrow {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../img/common/top-arrow.svg) no-repeat center/100%;
}
.icon-talk {
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url(../img/common/icon-talk.svg) no-repeat center/100%;
}
.icon-print {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url(../img/ggin_golf/service_print.svg) no-repeat center/100%;
}
.icon-transfer {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url(../img/ggin_golf/service_transfer.svg) no-repeat center/100%;
}
.icon-app_check {
  display: inline-block;
  width: 39px;
  height: 39px;
  background: url(../img/ggin_golf/service_app_check.svg) no-repeat center/100%;
}
.icon-app_active {
  display: inline-block;
  width: 43px;
  height: 39px;
  background: url(../img/ggin_golf/app_active.svg) no-repeat center/100%;
}
.icon-app_inactive {
  display: inline-block;
  width: 43px;
  height: 39px;
  background: url(../img/ggin_golf/app_inactive.svg) no-repeat center/100%;
}
.icon-app_act_inactive {
  display: inline-block;
  width: 40px;
  height: 39px;
  background: url(../img/ggin_golf/app_act_inactive.svg) no-repeat center/100%;
}
.icon-app_write {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../img/ggin_golf/service_app_write.svg) no-repeat center/100%;
}
.icon-light {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../img/common/icon-light.svg) no-repeat center/100%;
}
.icon-more_view {
  display: inline-block;
  width: 68px;
  height: 24px;
  background: url(../img/ggin_golf/more_view.svg) no-repeat center/100%;
}
.icon-running_circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(../img/ggin_golf/top_select_img_1_circle.svg) no-repeat center/100%;
}
.icon-clock_circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(../img/ggin_golf/top_select_img_1_clock.svg) no-repeat center/100%;
}
.icon-card_circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(../img/ggin_golf/top_select_img_1_card.svg) no-repeat center/100%;
}
.icon-people_circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(../img/ggin_golf/top_select_img_1_people.svg) no-repeat center/100%;
}
.icon-toggle_clock {
  display: inline-block;
  width: 38px;
  height: 46px;
  background: url(../img/ggin_golf/toggle_clock.svg) no-repeat center/100%;
}
.icon-toggle_people {
  display: inline-block;
  width: 38px;
  height: 46px;
  background: url(../img/ggin_golf/toggle_people.svg) no-repeat center/100%;
}
.icon-ear {
  display: inline-block;
  width: 12px;
  height: 15px;
  background: url(../img/common/icon-ear.svg) no-repeat center/100%;
}
.icon-again {
  display: inline-block;
  width: 12px;
  height: 15px;
  background: url(../img/common/icon-again.svg) no-repeat center/100%;
}
.icon-select_close {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/ggin_golf/top_btn_close.svg) no-repeat center/100%;
}
.icon-grey_close {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/common/grey-close.svg) no-repeat center/100%;
}
.icon-camera {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/common/icon-camera.svg) no-repeat center/100%;
}
.icon-talk--grey {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/common/talk-grey.svg) no-repeat center/100%;
}