@media (max-width: 1200px) {
    .screen1-main .inner {
        padding: 0 2rem;
    }

    .screen2-main .inner {
        padding: 0 2rem;
    }

    .screen3-main .inner {
        padding: 0 2rem;
    }

    .screen4-main .inner {
        padding: 0 2rem;
    }

    .screen5-main .inner {
        padding: 0 2rem;
    }

    .header-main .nav__item {
        padding: 0 2.5rem;
    }

    .screen3__group label {
        white-space: nowrap;
    }

    .selectbox.min175 {
        min-width: 15.5rem;
    }

    .popup-main {
        width: 90rem;
        padding-top: 5rem;
    }

    .popup-main__sidebar {
        width: 20rem;
        padding: 2rem;
    }

    .popup-main__col {
        width: 14rem;
    }

    .popup-main__content {
        flex: 1;
        padding: 13rem 3rem 5rem;
    }

    .popup-main__cols {
        display: flex;
        gap: 2rem;
    }

    .popup-main__col-title {
        font-size: 1.5rem;
    }

    .popup-main__links li a {
        font-size: 1.3rem;
    }
}

@media (max-width: 912px) {

    .header-main .nav__item {
        padding: 0 1.7rem;
    }

    .screen2__title p {
        font-size: 1.8rem;
    }

    .screen2__des {
        align-items: flex-start;
    }

    .screen2__pitture {
        flex-direction: column;
    }

    .screen2__pic {
        width: 100%;
    }

    .screen3__box {
        flex-wrap: wrap;
    }

    .screen3__item.flex {
        width: 100%;
    }

    .screen3__card {
        width: calc((100% - 2rem)/3);
    }

    .screen3__item {
        width: calc((100% - 2.5rem)/2);
    }

    .screen4__des {
        flex-direction: column;
        align-items: flex-start;
    }

    .screen4__des .screen2__title h3 {
        text-align: left;
    }

    .footer-main__inner {
        flex-direction: column-reverse;
    }

    .footer-main__sponsor-text {
        text-align: center;
    }

    .footer-main__menu {
        justify-content: center;
        flex-wrap: wrap;
        margin: 3rem 0;
    }

    .footer-main__copyright,
    .footer-main__address {
        text-align: center;
    }

    .footer-main__right {
        position: absolute;
        bottom: -7rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-main {
        padding: 7rem 0 12rem;
        position: relative;
    }

    .popup-main__col {
        width: 11rem;
    }

    .popup-main__sidebar {
        width: 17rem;
    }

    .popup-main__col-title br {
        display: none;
    }
}

@media (max-width: 819px) {
    .popup {
        background-color: #fff !important;
        padding: 0 !important;
    }

    .popup-main {
        width: 100%;
        padding: 0;
        border-radius: 0;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .popup-main__container {
        border-radius: 2rem;
    }

    .popup-main__col-title {
        position: relative;
        padding-right: 18px;
        display: inline-block;
    }

    .popup-main__col:has(.popup-main__links)>.popup-main__col-title::after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: .9rem;
        height: .6rem;
        background-image: url('../../images/main-pc/image18.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .popup-main__col.open>.popup-main__col-title::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .popup-main__links {
        display: none;
    }

    .popup-main__col.open>.popup-main__col-title::after {
        transform: rotate(180deg);
    }

    .popup-main__title {
        display: none;
    }

    .popup-main__menu-btn {
        border-radius: 0;
        font-size: 1.5rem;
        padding: 1.6rem 0;
        height: 5rem;
    }

    .popup-main__menu-item {
        margin-bottom: 0;
    }

    .popup-main__col-title br {
        display: none;
    }

    .popup-main__content {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: .3rem 2rem 2rem;
    }

    .popup-main__btns {
        display: flex;
        gap: .5rem;
    }

    .popup-main__input {
        display: block;
    }

    .popup-main__close {
        justify-content: space-between;
        flex-wrap: wrap;
        position: unset;
        padding: 2rem 1.6rem 2rem;
        background: #F5F5F5;
    }

    .popup-main__close img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .popup-main__btns a {
        width: 7rem;
        height: 2.5rem;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #171719;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-main__input {
        position: relative;
        width: 100%;
        margin-top: 3rem;
    }

    .popup-main__input input {
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        border: 1px solid #ddd;
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    .popup-main__searchbtn {
        position: absolute;
        right: 1.7rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
    }

    .popup-main__searchbtn img {
        width: 2rem;
        height: 2rem;
    }

    .popup-main__linksMb {
        display: flex;
        height: 4rem;
    }

    .popup-main__linksMb a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #666;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        width: 50%;
        height: 4rem;
    }

    .popup-main__linksMb a:last-child {
        border-left: 1px solid #fff;
    }

    .popup-main__cols {
        flex-direction: column;
        gap: 0;
    }

    .popup-main__cols.mt5 {
        margin-top: 0rem;
    }

    .popup-main__col {
        width: 100%;
    }

    .popup-main__menu-item--active .popup-main__menu-btn {
        background: #F5F5F5;
        color: #111;
        box-shadow: none;
    }

    .popup-main__col-title {
        font-size: 1.3rem;
        padding: 1.7rem 1rem;
        margin-bottom: 0;
        height: auto;
        width: 100%;
    }

    .popup-main__links {
        padding-left: 1rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ddd;
    }

    .popup-main__links li {
        font-size: 1.3rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    .popup-main__links li a {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .inner {
        padding: 0 1.6rem;
    }

    .header-main .header-main__center,
    .header-main .nav .nav__list,
    .header-main .header-main__search,
    .header-main .header-main__item,
    .tool-main,
    .scroll-bg {
        display: none;
    }

    .header-main nav {
        display: none;
    }

    #wrap {
        padding-top: 5rem;
    }

    .header-main .inner {
        height: 8rem;
    }

    .header-main .menu-btn {
        height: 2.6rem;
        width: 2.8rem;
    }

    .screen1-main {
        background-size: 830px;
        min-height: 20rem;
    }

    .screen1-main .main-des {
        width: 22rem;
        height: 20rem;
        padding-left: 2rem;
        background: #ffffffde;
    }

    .screen1-main .main-des p {
        font-size: 1.6rem;
    }

    .screen1-main .main-des span {
        font-size: 1rem;
    }

    .screen2-main {
        padding: 5rem 0;
    }

    .screen2__des {
        position: relative;
        padding-bottom: 2.5rem;
    }

    .screen2__title {
        margin-bottom: 0;
    }

    .screen2__title h2 {
        font-size: 1.7rem;
    }

    .screen2__title h3 {
        font-size: 1.5rem;
    }

    .screen2__link a,
    .screen2__link a:first-child {
        padding: .4rem .9rem .3rem 1rem;
        font-size: 1.1rem;
    }

    .screen2__title p {
        font-size: 1.3rem;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .screen2__des {
        align-items: center;
    }

    .screen2__link a img {
        width: 2rem;
        height: 2rem;
    }

    .screen2__slide-text {
        font-size: 1.2rem;
    }

    .screen2__slide-icon {
        height: 4rem;
    }

    .screen2__slide-item {
        min-width: 12rem;
    }

    .screen2__slide-arrow {
        padding: 0;
    }

    .screen2__slide {
        padding: 5rem 0 3rem;
    }

    .screen2__bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .screen2__card {
        width: 100%;
        padding: 2rem;
    }

    .screen2__pitture {
        flex-direction: row;
        gap: 1.5rem;
    }

    .screen2__content {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .screen2__content:last-child {
        padding: 1rem 0 0;
    }

    .screen2__tit h4 {
        font-size: 1.5rem;
    }

    .screen2__tit h6 {
        font-size: 1.2rem;
    }

    .screen2__text-note {
        font-size: 1.2rem;
    }

    .screen2__note {
        padding: 1rem 0;
    }

    .screen2__icon {
        width: 2rem;
        height: 2rem;
        font-size: 1.9rem;
    }

    .screen2__pic {
        width: 16rem;
        height: 14.2rem;
    }

    .screen2__pic img {
        width: 16rem;
        height: 14.2rem;
    }

    .screen2__track {
        display: flex;
        justify-content: left;
        overflow: hidden;
        width: 100%;
        gap: 0;
    }

    .screen2__item {
        min-width: 80%;
        width: 100%;
        margin-right: 2rem;
        padding: 2rem;
    }

    .screen2__text p {
        font-size: 1.2rem;
    }

    .screen2__text b {
        font-size: 1.2rem;
    }

    .screen2__slide-arrow {
        font-size: 3.5rem;
    }

    .screen3__box {
        margin-top: 2rem;
        gap: 1rem;
    }

    .screen3__item.flex {
        gap: .5rem;
    }

    .screen3__card {
        background: #f5f5f5;
        height: 5.1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        width: calc((100% - 1rem)/3);
    }

    .screen3__item .screen2__tit {
        margin-bottom: 1rem;
    }

    .screen3__item {
        width: 100%;
        padding: 2rem;
    }

    .selectbox.min175 {
        min-width: auto;
        max-width: 100%;
        width: 100%;
    }

    .screen3__text {
        font-size: 1.2rem;
        padding: 0 0 2rem;
    }

    .screen3__group {
        margin-bottom: .5rem;
    }

    .screen3__group label {
        width: 6rem;
    }

    .screen4-main .screen4__link {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 4rem 0 2rem;
    }

    .screen4__link a {
        font-size: 1.1rem;
        padding: .4rem 1rem;
    }

    .screen4__des.column {
        gap: 1rem;
        position: relative;
    }

    .screen4__des {
        position: relative;
    }

    .screen4__des.column .screen2__icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .screen4__note {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        margin: 3rem 0;
        left: 2rem;
        right: 2rem;
    }

    .screen4__text {
        font-size: 1.2rem;
        margin: .5rem 0 .7rem;
    }

    .screen4-main .screen2__icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .screen4__item {
        min-width: 88%;
        width: 88%;
        padding: 2rem 3rem;
        margin-right: 2rem;
    }

    .screen4__dots {
        margin-top: 2rem;
    }

    .screen5-main {
        padding: 5rem 0 0;
    }

    .screen5__box {
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 2rem 5rem;
    }

    .screen5__item {
        width: 100%;
    }

    .screen5__title {
        font-size: 1.5rem;
        padding: .9rem 3rem;
        height: 4rem;
    }

    .screen5__text {
        padding: 2rem 3rem
    }

    .screen5__text p,
    .screen5__text span {
        font-size: 1.2rem;
    }

    .screen5__item.blue {
        margin-bottom: 0;
    }

    .scroll-bg img {
        width: 1.2rem;
        height: auto;
    }

    .scroll-bg {
        width: 3.5rem;
        height: 3.5rem;
        right: 2.5rem;
    }

    .tool-main {
        top: 38%;
        right: 2rem;
    }

    .tool-social-img {
        height: 3rem;
    }

    .tool-social ul {
        gap: 3rem;
    }

    .tool-social {
        right: 8rem;
        width: auto !important;
        padding: 2.3rem 1.5rem;
    }

    .tool-social-link+.tool-social-link::before {
        left: -1.5rem;
    }

    .footer-main__menu {
        gap: 1rem;
    }

    .footer-main__menu-item+.footer-main__menu-item::before {
        left: -1rem;
    }

    .footer-main__menu-item a {
        padding-right: 2rem;
    }

    .footer-main__sponsor-logos {
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-main__logo1 {
        width: 8rem;
    }

    .footer-main__logo2 {
        height: 2rem;
    }

    .footer-main__logo3 {
        height: 1.7rem;
    }

    .popup-main__sidebar {
        width: 15rem;
        padding: 0;
        text-align: center;
    }

    /* /1.1/ */
    .nav__item,
    .goto__list,
    .goto__nt,
    nav {
        display: none;
    }

    .nav__list {
        border-top: none;
        height: 0;
    }

    .header {
        height: 6rem;
    }

    .nav {
        height: 0;
    }

    .nav .menu-btn {
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .brdc {
        height: 3rem;
        margin-top: 1rem;
    }

    .brdc__item {
        display: flex;
        align-items: center;
    }

    .brdc__link {
        font-size: 1.4rem;
        color: #171719;
        padding: 0 1.3rem;
        width: 11rem;
    }

    .chc__tit h3 {
        font-size: 2.1rem;
    }

    .chc__tit p {
        font-size: 1.3rem;
    }

    .initial {
        margin-top: 2rem;
        width: 100%;
        padding: 0 1.6rem;
    }

    .initial__rt {
        padding: 3rem 2rem;
        width: 100%;
        margin: 0 auto;
    }

    .initial__search {
        padding: .9rem 1.8rem .7rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .initial__input {
        height: 3rem;
        font-size: .9rem;
    }

    .footer {
        padding: 6rem 1.5rem 4rem;
    }

    .footer__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    .footer__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        width: 100%;
    }

    .footer__item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .footer__item::after {
        content: "›";
        font-size: 1.5rem;
        color: #333;
    }

    .footer__link {
        font-size: 1.5rem;
    }

    .footer__md {
        margin-top: 3rem;
    }

    .footer__adr:last-child {
        flex-direction: column;
        gap: .8rem;
    }

    .footer__adr:last-child span+span::before {
        content: none;
    }

    .footer__adr {
        gap: 4rem;
    }

    .footer__adr span+span::before {
        left: -2rem;
        background-color: #37383C9C;
    }

    .footer .sns {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .footer__bm {
        border-top: none;
        flex-direction: column-reverse;
        padding-top: 0;
        margin-top: 3.5rem;
    }

    .footer__copy {
        text-align: center;
    }

    .certificate {
        padding-top: 4rem;
        margin-bottom: 6rem;
    }

    .chn__bor {
        gap: 5rem;
        padding: 1.5rem 3.6rem;
        margin: 0 -2rem;
    }

    .chc__block {
        margin-top: 3rem;
    }

    .initial__block {
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    .initial__btn {
        width: 2.2rem;
        height: 2.2rem;
    }

    .chc__btn {
        height: 2rem;
        width: 2rem;
    }

    .chc__item figure img {
        width: 4rem;
        height: 4rem;
    }

    .chc__list {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 2rem;
    }

    .chc__list.chc__list--img {
        column-gap: 1.7rem;
        row-gap: 1.7rem;
        overflow-y: scroll;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 3rem;
        margin: 0 0 0 2rem;
    }

    .chc__list.chc__list--img .chc__item {
        width: 9rem;
    }

    .chc__list.chc__list--img .chc__item span {
        font-size: 1.3rem;
    }

    .chc__item:nth-child(n + 4) {
        border-top: none;
    }

    .chc__item.highlight-top {
        border-top: 1px solid #ddd;
    }

    .chc__list--img .chc__item {
        border-top: none;
    }

    .chc__item.highlight-top4,
    .chc__item.highlight-top5,
    .chc__item.highlight-top6,
    .chc__item.highlight-top7,
    .chc__item.highlight-top8,
    .chc__item.highlight-top9,
    .chc__item.highlight-top10,
    .chc__item.highlight-top11,
    .chc__item.highlight-top12 {
        border-top: none;
    }

    .chc__item span {
        font-size: 1.2rem;
        white-space: unset;
        line-height: 100%;
        padding: .8rem 1rem;
        height: 4rem;
    }

    .chc__item span::before {
        width: .6rem;
        height: .6rem;
    }

    .game__link {
        font-size: 1.1rem;
        width: 6rem;
        height: 9.3rem;
        padding: 2rem 0 0;
    }

    .game__link img {
        height: 3rem;
        width: auto;
        margin-bottom: .5rem;
    }

    .game__pop {
        width: 30.5rem;
        padding: 2rem 2.4rem;
    }

    .game__list {
        gap: 0;
    }

    .game__tit {
        font-size: 1.5rem;
        margin-bottom: 2.2rem;
    }

    .game__desc {
        margin-top: 2rem;
    }

    .game__pop.on {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .indv {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .indv::before {
        width: 53.2rem;
        height: 53.2rem;
        left: 13.4rem;
        top: -20.2rem;
    }

    .title {
        margin-bottom: 4rem;
    }

    .title h2 {
        font-size: 2.1rem;
    }

    .title.mb10 {
        margin-bottom: 1rem;
    }

    .indv__block {
        padding: 2rem;
        border-radius: 2rem;
    }

    .indv__tit {
        font-size: 1.5rem;
    }

    .indv__tit.fs16 {
        font-size: 1.6rem;
    }

    .indv__block h4 {
        font-size: 1.2rem;
    }

    .indv__block h4.mb05 {
        margin-bottom: .5rem;
    }

    .indv__block p {
        font-size: 1.1rem;
    }

    .indv101002__table {
        flex-direction: column;
        gap: 1rem;
    }

    .indv101002__item {
        border-radius: 1rem;
    }

    .indv101002__title {
        border-radius: 1rem 1rem 0 0;
    }

    .indv101002__item:last-child {
        border-left: 1px solid #ddd;
    }

    .indv101002__item:first-child {
        border-right: 1px solid #ddd;
    }

    .indv101002__item.w240 {
        max-width: 100%;
    }

    .indv101002__title {
        height: 4rem;
        padding: 0 2.4rem;
        justify-content: left;
    }

    .indv101002__content {
        padding: 2rem;
        font-size: 1.2rem;
        line-height: 170%;
    }

    .indv101002__text p {
        font-size: 1.2rem;
        line-height: 170%;
    }

    .indv__tit--mt10 {
        margin-bottom: 1rem;
    }

    .indv__bm {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .indv__btbx .indv__btn {
        font-size: 1.2rem;
        width: 7rem;
        height: 3.5rem;
    }

    .indv__link figure img.icon {
        width: 2rem;
        height: 2rem;
    }

    .indv__form {
        width: 100%;
        margin-bottom: 1rem;
    }

    .indv__form .indv__link {
        padding: 2rem;
        gap: 0;
        border-radius: 2rem;
    }

    .indv__form .indv__link figure {
        margin-bottom: 2rem;
    }

    .indv__form .indv__cap {
        font-size: 1.2rem;
        line-height: 150%;
        margin-bottom: 2rem;
    }

    .indv__form .indv__form-group {
        gap: 1rem;
    }

    .indv__form .indv__form-group .indv__form-group-flex {
        gap: .5rem;
        height: 4rem;
    }

    .indv__form .indv__form-group .indv__input {
        height: 4rem;
    }

    .indv__form .indv__form-group .indv__btn {
        font-size: 1.2rem;
        padding: 0;
        height: 4rem;
        width: 9rem;
    }

    .indv__btn--large {
        height: 5rem;
        width: 100%;
        gap: .7rem;
    }

    .indv__btn--large>img {
        width: 2.137rem;
        height: 2.137rem;
    }

    .checkbox {
        width: 2rem;
        height: 2rem;
    }

    .indv__desc--center {
        margin-bottom: 4rem;
    }

    .indv__btn--large--ipin {
        margin-bottom: 1rem;
    }

    .indv__prv {
        padding: 2rem;
        border-radius: 2rem;
    }

    .indv__prv h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem !important;
    }

    .indv__prv p {
        font-size: 1.2rem;
        line-height: 150%;
    }

    .has-circle-number::before {
        width: 12px;
        height: 12px;
        color: #666;
        border: 1px solid #666;
    }

    .indv__prv__info a {
        font-size: 1.2rem;
    }

    .indv__prv__info ul {
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    .indv__prv__info ul li {
        font-size: 1.2rem;
    }

    .indv__prv__info ps {
        font-size: 1.2rem;
    }

    .indv__prv .has-circle-number {
        padding-bottom: .5rem;
    }

    .indv__prv .mb30 {
        margin-bottom: 2rem !important;
    }

    .indv101028__table {
        flex-direction: column;
        border: 1px solid #ddd;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    .indv101028__table .indv101002__item.w178 {
        background: #f5f5f5;
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .indv101028__table .indv101002__item.w178 .indv101002__title {
        border-bottom: none;
        height: auto;
        padding: 1rem 2rem .5rem;
        font-size: 1.3rem;
        text-align: left;
    }

    .indv101028__table .indv101002__item.w178 .indv101002__content {
        display: block;
        padding: 0 2rem 1rem;
        text-align: left;
        font-size: 1.2rem;
    }

    .indv101028__table .indv101002__item.w178 .indv101002__content a {
        font-size: 1.2rem;
    }

    .indv101028__table .indv101002__item.w178 .indv101002__content br {
        display: none;
    }

    .indv101028__table .indv101002__item.w368,
    .indv101028__table .indv101002__item.w198,
    .indv101028__table .indv101002__item.w176 {
        border-radius: 0;
        max-width: 100%;
        border: none;
    }

    .indv101028__table .indv101002__item.w176 {
        display: flex;
    }

    .indv101028__table .indv101002__title br {
        display: none;
    }

    .indv101028__table .indv101002__item.w368 .indv101002__title,
    .indv101028__table .indv101002__item.w198 .indv101002__title,
    .indv101028__table .indv101002__item.w176 .indv101002__title {
        background: #fff;
        border-radius: 1rem;
        border-bottom: none;
        height: auto;
        padding: 1rem 2rem;
        font-size: 1.3rem;
        text-align: left;
    }

    .indv101028__table .indv101002__item.w368 .indv101002__content,
    .indv101028__table .indv101002__item.w198 .indv101002__content {
        padding: 0 0 1rem;
        border-bottom: 1px solid #ddd;
        margin: 0 2rem;
        align-items: flex-start;
    }

    .indv101028__table .indv101002__item.w176 .indv101002__title::after {
        content: ':';
        font-weight: 600;
        color: #111;
    }

    .indv101028__table .indv101002__item.w176 .indv101002__content {
        padding: 1rem 0;
    }

    .indv101028__table .indv101002__content ol li br {
        display: none;
    }

    .indv101028__table .indv101002__item.w176 .indv101002__content b {
        font-weight: 400;
    }

    .indv101028__table:last-child {
        margin-bottom: 2rem;
    }

    .indv101002__titleMb {
        display: block;
        border-radius: 1rem;
    }

    .ply {
        padding-bottom: 6rem;
    }

    .ply__tit {
        font-size: 2.1rem;
        margin-bottom: 1rem;
        margin-top: 6.5rem;
    }

    .ply__desc {
        font-size: 1.2rem;
        margin-bottom: 4rem;
    }

    .ply-ftr {
        padding: 6rem 2rem 4rem;
    }

    .ply-ftr__tit {
        margin-bottom: 2rem;
    }

    .ply-ftr__adr {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        margin-bottom: 2rem;
    }

    .ply-ftr__adr dl {
        font-size: 1.3rem;
    }

    .ply__flex {
        flex-direction: column;
    }

    .ply__info {
        flex-direction: column;
    }

    .ply__bg {
        width: 100%;
        height: 14rem;
    }

    .ply__info .ply__content {
        border-radius: 0 0 2rem 2rem;
        padding: 2rem;
    }

    .ply__info {
        border-radius: 2rem;
    }

    .ply__side {
        width: 100%;
    }

    .ply__info .ply__content .ply__status {
        font-size: 1.3rem;
        padding: 0;
        width: 10rem;
        height: 3rem;
        text-align: center;
        justify-content: center;
    }

    .ply__name {
        margin-top: 0;
        font-size: 2.1rem;
    }

    .ply__info .ply__content .ply__task--element .ply__task--text {
        font-size: 1.5rem;
    }

    .ply__info .ply__content .ply__task--element .ply__task--status {
        font-size: .9rem;
        height: 1.6rem;
        width: 4rem;
    }

    .ply__print {
        gap: 1rem;
    }

    .ply__print a img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .ply__print a {
        font-size: 1.3rem;
    }

    .ply__grid {
        gap: 1rem;
    }

    /* header */
    .ply-nav,
    .menu-btn-ply {
        display: block;
    }

    .ply-nav__list {
        flex-direction: column;
        height: 3.5rem;
        gap: 0;
    }

    .ply-nav .brdc__item,
    .ply-nav__logout {
        display: none;
    }

    .ply-hdr__list,
    .ply-hdr__help {
        display: none;
    }

    .ply-nav {
        height: 3.5rem;
        top: 6rem;
    }

    .ply-nav__item:nth-child(2) {
        margin-left: 0;
    }

    .ply-nav__item {
        background: #fff;
        padding: 0 1.5rem;
        width: 10.5rem;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .ply-nav__item:last-child {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 1rem 1rem;
    }

    .ply-nav__item.has-arrow {
        width: 10.5rem;
        padding: 0 1rem;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: none;
        background: transparent;
    }

    .ply-nav__link {
        font-size: 1.1rem;
        justify-content: space-between;
        text-align: left;
        padding: 1rem .2rem 1rem;
        align-items: baseline;
        border-bottom: 1px solid #ddd;
    }

    .ply-nav__item:last-child .ply-nav__link {
        border-bottom: none;
    }


    .ply-nav__item.has-arrow>.ply-nav__link {
        position: relative;
        height: 3.5rem;
        justify-content: space-between;
        display: flex;
        width: 100%;
        border-bottom: none;
        padding: 0;
        align-items: center;
        color: #0C54B8;
    }


    .ply-nav__item.has-arrow>.ply-nav__link::after {
        content: '';
        display: block;
        width: 1.1rem;
        height: 1.1rem;
        background: url(/images/icons/select-icon.png) no-repeat center / contain;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .ply-nav__item.has-arrow.open>.ply-nav__link::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .ply-nav__quik li a {
        font-size: 1rem;
    }

    .ply-menu-open .ply-hdr__list,
    .ply-menu-open .ply-hdr__help {
        display: flex;
    }

    .ply-hdr__rt {
        position: relative;
    }

    .ply-hdr {
        height: 6rem;
    }

    .ply-menu-open .ply-hdr__rt {
        position: absolute;
        background: #fff;
        width: 100%;
        height: 6rem;
        justify-content: end;
        right: 0;
        padding-right: 1.6rem;
        border-bottom: 1px solid #ddd;
    }

    .ply-hdr__list a {
        font-size: 1rem;
    }

    .ply-hdr__list {
        gap: 2rem;
    }

    .ply-hdr__list li+li::before {
        left: -1rem;
    }

    .ply-hdr__help a {
        font-size: 1rem;
    }


    .menu-btn-ply.is-open .menu-btn__icon {
        display: none;
    }

    .menu-btn-ply.is-open::after {
        content: "";
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background: url(/images/main-pc/close.png) no-repeat center / contain;
        display: block;
    }

    .menu-btn-ply.is-open {
        padding: 0;
        margin-left: 0;
    }

    .ply-smr__bg {
        display: none;
    }

    .ply-smr {
        border-radius: 2rem;
        padding: 2rem;
    }

    .ply-smr>dl dt {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .ply-smr>dl dd {
        font-size: 1.2rem;
    }

    .ply-smr>dl {
        max-width: 100%;
        padding: 0 0 2rem;
    }

    .ply-smr__list a {
        font-size: 1.2rem;
        padding: 0;
    }

    .ply-smr__list a img {
        width: 1.1rem;
    }

    .ply-smr__list li a {
        width: 10rem;
        gap: .5rem;
        height: 3.5rem;
        justify-content: center;
    }

    .ply-smr__list {
        margin-top: 0;
    }

    .ply-pop {
        max-width: 32rem;
        padding: 3rem;
        border-radius: 2rem;
        width: 100%;
    }

    .ply-pop__scroll_inner {
        height: 36vh;
        padding: 0 1rem 0 2rem;
    }

    .ply-pop__scroll {
        width: 100%;
        border-radius: 2rem;
        padding: 2rem 0;
    }

    .popup0506 {
        background-color: var(--color-popup-bg) !important;
    }

    .ply-pop__scroll.mt50,
    .ply-pop__scroll .mt50 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .ply-pop__header,
    .ply-pop__tit {
        font-size: 1.5rem;
    }

    .ply-pop__scroll h4 {
        font-size: 1.2rem;
    }

    .ply-pop__scroll .mb20 {
        margin-bottom: 1rem;

    }

    .has-circle-number,
    .ply-pop__scroll p.num-has-number.num-sub-item {
        font-size: 1.1rem;
    }

    .ply-pop__btn {
        font-size: 1.2rem;
        padding: .9rem 1.8rem .7rem;
        height: 3rem;
        min-width: auto;
    }

    .ply-pop__scroll_num {
        margin-bottom: 2rem;
    }

    .ply-pop__desc {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .ply-pop__icon img {
        margin-bottom: 3rem;
    }

    .ply-bsc {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .tour101006__main .tour001001__tabs {
        margin-top: 3rem;
        gap: .5rem;
    }

    .tour101006__main .tour001001__tabs .tour001001__itemTab {
        width: calc((100% - 1.5rem)/4);
        height: 3rem;
        font-size: 1.2rem;
        border-radius: 3rem;
    }

    .tour101006__main {
        padding-top: 2rem;
    }

    .ply-bsc__item {
        margin-top: 0;
    }

    .ply-bsc__block {
        padding: 2rem;
        border-radius: 2rem;
    }

    .ply-bsc__maintitle,
    .ply-bsc__block>h4 {
        padding: 0 0 2rem;
        font-size: 1.5rem;
    }

    .ply-bsc__table th {
        font-size: 1.2rem;
        padding: 0;
        width: 10rem;
        padding: .5rem 0;
    }

    .ply-bsc__table td {
        font-size: 1.2rem;
        padding: .5rem 0;
        display: flex;
        flex-direction: column;
    }

    .ply-bsc__ttn {
        height: 2rem;
        font-size: 1rem;
        margin-left: 0;
        padding: 0 1.3rem;
        width: max-content;
    }

    .ply-bsc__btbx {
        margin-left: 0;
    }

    .ply__btn {
        font-size: 1.2rem;
        padding: 1.1rem 1.2rem;
        min-width: auto;
        height: 3.5rem;
    }

    .ply__btn>img {
        width: auto;
        height: 1rem;
    }

    .tour101006__allBtn {
        padding: 2rem 2rem 0;
    }

    .ply-reg__up {
        padding: 2rem 0;
    }

    .ply-reg__up figure {
        width: 10rem;
        height: 12.4rem;
        font-size: 1.2rem;
    }

    .ply-reg__rt--black p {
        font-size: 1.1rem;

    }

    .ply-reg__rt strong {
        font-size: 1.3rem;
    }

    .ply-reg__up figure .ply-reg__icon-bg {
        width: 4rem;
        height: 4rem;
    }

    .ply-reg__up figure .ply-reg__icon-bg img {
        width: auto;
        height: 1.6rem;
        display: block;
    }

    .ply-reg__list {
        padding: 0;
    }

    .ply-reg__item {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        column-gap: .5rem;
        margin-bottom: 0;
    }

    .ply-reg__card {
        width: 100%;
        justify-content: end;
    }

    .ply-reg__label.small {
        font-size: .9rem;
        white-space: normal;
        letter-spacing: -1px;
    }

    /* 1.2 */
    .ply__tit,
    .ply__group,
    .ply__wrapper--flex,
    .ply102002__box {
        flex-direction: column;
    }

    .ply__tit.tour102002__tit {
        gap: 1rem;
    }

    .ply__tit.tour102002__tit h3 {
        font-size: 2.1rem;
    }

    .ply__group--item.tour102002__item {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 1rem;
    }

    .ply__group--item.tour102002__item img {
        height: 2.2rem;
    }

    .ply__group--item.tour102002__item p {
        font-size: 1rem;
    }

    .ply__wrapper.tour102002__boxMain {
        border-radius: 2rem;
        padding: 2rem;
    }

    .ply__wrapper.mt5.tour102002__boxMain,
    .ply__wrapper.mt2.tour102002__boxMain {
        margin-top: 1rem;
    }

    .ply__wrapper.mt2.tour102002__boxMain {
        flex: 0 0 22rem;
    }

    .ply__wrapper.mt5.tour102002__boxMain .ply__title {
        font-size: 1.5rem;
        padding: 0 0 2rem 0;
    }

    .ply__wrapper.mt5.tour102002__boxMain .ply102002__box {
        flex-direction: column-reverse;
        padding: 0 0;
    }

    .ply__wrapper.mt5.tour102002__boxMain .ply102002__selectbox {
        margin-bottom: 2rem;
    }

    .ply__wrapper.mt5.tour102002__boxMain .ply102002__selectbox select {
        width: 28rem;
    }

    .ply__wrapper.mt5.tour102002__boxMain .ply102002__row {
        font-size: 1.3rem;
    }

    .ply__wrapper.tour102002__boxMain .ply102002__note {
        padding-left: 0;
        font-size: 1.2rem;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply__title {
        font-size: 1.5rem;
        padding: 0 0 2rem 0;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply102002__box {
        padding: 0;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply102002__row {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .ply-reg__item2 {
        margin-bottom: 0;
    }

    .ply-reg__card .date-input.ply-reg__input--w200,
    .ply-reg__input--w200 {
        width: 100%;
        min-width: 100%;
    }

    .ply-reg__btn--min160 {
        min-width: 100%;
    }

    .ply-reg__input--max200 {
        max-width: 100%;
    }


    .ply-reg__input-group {
        flex-wrap: wrap;
    }

    .ply-reg__btn {
        white-space: nowrap;
    }

    .ply-reg__flex--gap10 {
        gap: .5rem;
    }

    .edc__btn {
        position: unset;
        justify-content: end;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
    }

    .edc__flex dl {
        font-size: 1.3rem;
    }

    .edc__flex {
        flex-direction: column;
        font-size: 1.3rem;
    }

    .edc__flex dl dt {
        padding: .5rem 0;
        width: 9rem;
    }

    .edc__flex dl dd {
        padding: .5rem 0;
        flex: 1;
    }

    .edc__flex dl:first-child dt {
        padding-left: 0;
    }

    .edc__flex dl+dl::before {
        display: none;
    }

    .ply-bsc__rt {
        position: fixed;
        bottom: 15rem;
        right: 1.6rem;
        z-index: 9;
    }

    .pstn__tell {
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        border-radius: 1rem;
        width: 8rem;
        height: 8rem;
        padding: 0;
    }

    .pstn__tell+.pstn__tell {
        margin-top: .5rem;
    }

    .pstn__tell dl dd {
        display: none;
    }

    .pstn__tell figure {
        background: transparent;
        width: auto;
        height: auto;
    }

    .pstn__tell figure img {
        height: 3rem;
        width: auto;
    }

    .pstn__tell dl dt {
        font-size: 1rem;
    }

    .ply-pop__top {
        font-size: 1.3rem;
    }

    .ply-pop__box {
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        line-height: 150%;
        margin-bottom: 1rem;
    }

    .ply-pop__txt {
        font-size: 1.2rem;
        padding: 1rem 0;
    }

    .ply-pop__btbx.mt50 {
        margin-top: 3rem;
    }

    .ply-pop__box span::before {
        width: 23px;
    }

    .ply-bsc__box figure {
        display: none;
    }

    .ply__btn--white.min-width-0 {
        padding: 1.5rem 1.2rem;
    }

    .ply-bsc__description ul {
        padding: 1rem 0;
    }

    .ply-bsc__description li,
    .ply-bsc__subtitle {
        font-size: 1.3rem;
    }

    .ply-bsc__box {
        padding: 2rem 0 0;
    }

    .ply-reg__rt {
        font-size: 1.1rem;
    }

    .ply-reg__up figure img {
        display: none;
    }

    .ply-reg__up figure .ply-reg__icon-img img {
        display: block;
        width: 4rem;
        height: auto;
    }

    .ply-reg__input--w210 {
        width: 100%;
    }

    .ply-reg__flex--wrap {
        flex-wrap: wrap;
    }

    .ply-reg__flex--no-wrap {
        flex-wrap: nowrap;
        width: 100%;
    }

    .ply-reg__input--w215 {
        width: 100%;
    }

    .ply-bsc__note p {
        font-size: 1.2rem;
    }

    .ply-bsc__note {
        padding: 2rem 0 0;
        margin-top: 2rem;
    }

    .ply-bsc__note img {
        width: 1.7rem;
        height: 1.7rem;
    }

    .ply-bsc__des2 {
        padding: 2rem 0;
        margin-bottom: 2rem;
    }

    .ply-bsc__des2 .ply-bsc__subtitle {
        padding-left: 0;
        font-size: 1.2rem;
    }

    .ply-bsc__des2 .ply-bsc__maintitle {
        padding: 0 0 1rem;
    }

    .ply-bsc__maintitle--p2 {
        padding: 0 0 1rem;
    }

    .pym__dl {
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }

    .pym__dl p:first-child {
        font-size: 1.3rem;
        border-top: 1px solid #ddd;
        padding-top: 2rem;
        width: 100%;
        text-align: center;
    }

    .indv1010062__table .indv101002__item {
        border-radius: unset;
    }

    .indv1010062__table .indv101002__item .indv101002__title {
        font-size: 1.5rem;
        border-radius: unset;
        white-space: nowrap;
        justify-content: center;
        padding: 0;
    }

    .indv1010062__table .indv101002__item .indv101002__content {
        height: 4rem;
        border-radius: unset;
    }

    .indv1010062__box:first-child {
        width: 100%;
    }

    .indv1010062__box:last-child {
        width: 100%;
    }

    .indv1010062__table .indv101002__item.w220 {
        border-left: 1px solid #ddd;
    }

    .indv1010062__box .indv101002__item:last-child {
        border-left: none;
    }

    .indv1010062__box .indv101002__item:last-child {
        width: 20rem;
    }

    .indv1010062__table .indv101002__item.w140 {
        max-width: 100%;
    }

    .indv1010062__table {
        padding: 0;
    }

    .ply-bsc__block>h3 {
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 1rem;
    }

    .ply-bsc__block .ply-bsc__desc {
        font-size: 1.3rem;
        padding: 0 0 2rem;
    }

    .ply-bsc__card {
        padding: 2rem;
    }

    .ply-bsc__card .edc__flex {
        margin-bottom: 1rem;
    }

    .ply-bsc__card .edc__flex .indv__radio {
        justify-content: flex-start;
        line-height: 150%;
    }

    .ply-bsc__card .edc__flex dl:not(:first-child) {
        margin-left: 0;
        padding-left: 0;
    }

    .ply-bsc__card .edc__flex.gap3 {
        margin-bottom: 0;
    }

    .ply-bsc__card .edc__flex.gap3 dl {
        margin-bottom: 1rem;
        gap: 0;
    }

    .ply-bsc__card .edc__flex.gap3 dl dt {
        width: 6rem;
    }

    .ply-bsc__title>h1 {
        font-size: 1.5rem;
    }

    .ply-bsc__title .ply-bsc__btn {
        font-size: 1.2rem;
        padding: 1rem 1.4rem;
    }

    .ply101019 .ply-bsc__card {
        border-radius: 1rem;
    }

    .ply101020 .mmb__block {
        border-top: none;
        padding: 0 0 2rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 2rem;
    }

    .ply-reg__adrs {
        font-size: 1.3rem;
    }

    .mmb__dl {
        font-size: 1.3rem;
    }

    .mmb__dl dt {
        padding: 1rem 1rem 1rem 0;
    }

    .ply-reg__input--max100 {
        max-width: 100%;
    }

    .ply-reg__flex--gap10 {
        gap: 1rem;
    }

    .ply-reg__card.on {
        max-width: 100%;
    }

    .transfer-line {
        flex-direction: column;
    }

    .transfer-item {
        flex-direction: column;
        height: max-content;
    }

    .tour101020__transferLine .tour101020__inputChecked {
        width: 100%;
    }

    .tour101020__transferLine .transfer-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .tour101020__transferLine .transfer-buttons button {
        height: 4rem;
        padding: 0;
        width: calc((100% - .5rem)/2);
        justify-content: center;
    }

    .ply-reg__input--max150 {
        max-width: 100%;
    }

    .ply101020 .mmb__block.class--address {
        border-bottom: none;
        margin-bottom: 0;
        padding: 0;
    }

    .ply101020 .ply__bm--end {
        margin-top: 2rem;
    }

    .ply101020 .ply__bm--end .ply__btn {
        min-width: 7rem;
    }

    .ply-srh__top {
        height: auto;
        flex-wrap: wrap;
    }

    .ply-srh--pd20 {
        padding: 0;
    }

    .ply-srh__top .ply-reg__card {
        min-width: auto;
        max-width: 100%;
        width: 100%;
    }

    .ply-srh__top .ply-reg__card .selectbox {
        min-width: 100%;
        width: 100%;
    }

    .ply-pop__tit2 {
        padding: 0;
        border-bottom: none;
        margin-bottom: 2rem;
    }


    .ply101020popup .list__row.list__row--head {
        display: none;
    }

    .ply101020popup .list__row {
        display: block;
        margin-bottom: 1rem;
        height: auto;
    }

    .ply101020popup .list__row .list__col {
        display: flex;
        justify-content: flex-start;
        height: auto;
        border-right: 0;
        gap: 1.5rem;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-size: 1.3rem;
    }

    .ply101020popup .list__row .list__col::before {
        content: attr(data-label);
        font-weight: 600;
        width: 7rem;
        flex-shrink: 0;
        background: #F5F5F5;
        padding: 1rem;
        font-size: 1.3rem;
        border-left: 1px solid #ddd;
    }

    .ply101020popup .list__row .list__col:first-child {
        border-left: none;
    }

    .ply101020popup .list__row,
    .ply101020popup .list__row--head {
        border-bottom: none;
    }

    .ply-srh__btn_primiky {
        margin-top: 2rem;
        height: 3rem;
        min-width: auto;
        padding: 0 2rem;
    }

    .ply-reg__item5--columns190 {
        grid-template-columns: repeat(2, 1fr);
    }

    .ply-bsc__block .mmb__tit--mb30 {
        margin-bottom: 2rem;
    }

    .ply05091 .mmb__block {
        padding: 1rem 0 4rem;
    }

    .ply05091 .ply-reg__agree-h40 {
        padding-top: 1rem;
        margin-bottom: 0;
    }

    .mmb__tit--pb20 {
        padding-bottom: 2rem !important;
    }

    .ply-reg__item5 {
        max-width: 100%;
        column-gap: .5rem;
        row-gap: 0;
        margin-bottom: 0;
    }

    .ply05091 .transfer-line {
        align-items: flex-start;
    }

    .indv__btbx--center {
        margin-top: 2rem;
        margin-right: 2rem;
    }

    .ply05091 .transfer-buttons {
        margin-left: 0;
        width: 100%;
    }

    .ply05091 .transfer-buttons .transfer-btn {
        padding: 1.2rem 1rem;
        width: 50%;
        justify-content: center;
    }

    .ply-bsc__text {
        padding: 2rem 0 0;
        font-size: 1.3rem;
    }

    .ply-reg__item--max190 {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .ply05101 .mmb__block {
        padding: 1rem 0 0;
    }

    .ply05101 .mmb__block--mt-30 {
        margin-top: 2rem;
        padding-top: 2rem;
    }

    .ply__tit_desc {
        font-size: 1.3rem;
        padding: 0 2rem;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply102002__btns {
        padding: 0;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply102002__btns.tour102002__btn2 {
        flex-wrap: wrap;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply-reg__btn {
        font-size: 1.1rem;
        min-width: 12rem;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply-reg__btn.tour102002__itemBtn {
        width: 49%;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply102002__label {
        padding: 0 0 1rem;
        font-size: 1.3rem;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply-reg__input.tour102002__itemInput {
        width: 6.8rem;
    }

    .ply__wrapper.mt2.tour102002__boxMain .ply-reg__btn.tour102002__itemBtn2 {
        min-width: 5.9rem;
    }

    .ply-reg__item .ply-reg__card:last-child .ply-reg__flex {
        display: grid !important;
        grid-template-columns: 1fr auto;
        gap: .5rem;
    }

    .ply-reg__item .ply-reg__card:last-child .ply-reg__btn {
        width: 100%;
    }

    .ply-reg__item .ply-reg__card:last-child {
        grid-column: span 2;
    }

}

@media (max-width: 390px) {
    .screen2__slide-item {
        min-width: 11.7rem;
    }

    .screen4-main .screen4__link {
        padding: 6rem 0 2rem;
    }

    .chn__bor {
        gap: 4rem;
    }

    .initial__btn {
        width: 2rem;
        height: 2rem;
    }

    .chc__btn {
        height: 1.5rem;
        width: 1.5rem;
    }

}

@media (max-width: 375px) {

    .screen5-main .screen4__link a {
        font-size: 1rem;
    }

    .screen2__slide-text {
        font-size: 1.1rem;
    }

    .screen2__slide-item {
        min-width: 11rem;
    }

    .popup-main__sidebar {
        width: 14rem;
    }

    .ply05091 .transfer-buttons .transfer-btn {
        width: auto;
    }
}

@media (max-width: 360px) {

    .screen2__pic {
        width: 14rem;
        height: 14.2rem;
    }

    .screen2__pic img {
        width: 14rem;
        height: 14.2rem;
    }
}

@media (max-width: 320px) {
    .screen2__des {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 6rem;
    }

    .ply-reg__item {
        grid-template-columns: repeat(1, 1fr);
    }
}