@media (max-width: 1200px) {
    .screen1-main .inner {
        padding: 0 2rem;
    }

    .screen2-main .inner {
        padding: 0 2rem;
    }

    .screen3-main .inner {
        padding: 0 2rem;
    }

    .screen4-main .inner {
        padding: 0 2rem;
    }

    .screen5-main .inner {
        padding: 0 2rem;
    }

    .header-main .nav__item {
        padding: 0 2.5rem;
    }

    .screen3__group label {
        white-space: nowrap;
    }

    .selectbox.min175 {
        min-width: 15.5rem;
    }

    .popup-main {
        width: 90rem;
        padding-top: 5rem;
    }

    .popup-main__sidebar {
        width: 20rem;
        padding: 2rem;
    }

    .popup-main__col {
        width: 14rem;
    }

    .popup-main__content {
        flex: 1;
        padding: 13rem 3rem 5rem;
    }

    .popup-main__cols {
        gap: 2rem;
    }

    .popup-main__col-title {
        font-size: 1.5rem;
    }

    .popup-main__links li a {
        font-size: 1.3rem;
    }
}

@media (max-width: 912px) {

    .header-main .nav__item {
        padding: 0 1.7rem;
    }

    .screen2__title p {
        font-size: 1.8rem;
    }

    .screen2__des {
        align-items: flex-start;
    }

    .screen2__pitture {
        flex-direction: column;
    }

    .screen2__pic {
        width: 100%;
    }

    .screen3__box {
        flex-wrap: wrap;
    }

    .screen3__item.flex {
        width: 100%;
    }

    .screen3__card {
        width: calc((100% - 2rem)/3);
    }

    .screen3__item {
        width: calc((100% - 2.5rem)/2);
    }

    .screen4__des {
        flex-direction: column;
        align-items: flex-start;
    }

    .screen4__des .screen2__title h3 {
        text-align: left;
    }

    .footer-main__inner {
        flex-direction: column-reverse;
    }

    .footer-main__sponsor-text {
        text-align: center;
    }

    .footer-main__menu {
        justify-content: center;
        flex-wrap: wrap;
        margin: 3rem 0;
    }

    .footer-main__copyright,
    .footer-main__address {
        text-align: center;
    }

    .footer-main__right {
        position: absolute;
        bottom: -7rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-main {
        padding: 7rem 0 12rem;
        position: relative;
    }

    .popup-main__col {
        width: 11rem;
    }

    .popup-main__sidebar {
        width: 17rem;
    }

    .popup-main__col-title br {
        display: none;
    }
}

@media (max-width: 819px) {
    .popup {
        background-color: #fff !important;
        padding: 0 !important;
    }

    .popup-main {
        width: 100%;
        padding: 0;
        border-radius: 0;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .popup-main__container {
        border-radius: 2rem;
    }

    .popup-main__col-title {
        position: relative;
        padding-right: 18px;
        display: inline-block;
    }

    .popup-main__col:has(.popup-main__links)>.popup-main__col-title::after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: .9rem;
        height: .6rem;
        background-image: url('/images/main-pc/image18.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .popup-main__col.open>.popup-main__col-title::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .popup-main__links {
        display: none;
    }

    .popup-main__col.open>.popup-main__col-title::after {
        transform: rotate(180deg);
    }

    .popup-main__title {
        display: none;
    }

    .popup-main__menu-btn {
        border-radius: 0;
        font-size: 1.5rem;
        padding: 1.6rem 0;
        height: 5rem;
    }

    .popup-main__menu-item {
        margin-bottom: 0;
    }

    .popup-main__col-title br {
        display: none;
    }

    .popup-main__content {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: .3rem 2rem 2rem;
    }

    .popup-main__btns {
        display: flex;
        gap: .5rem;
    }

    .popup-main__input {
        display: block;
    }

    .popup-main__close {
        justify-content: space-between;
        flex-wrap: wrap;
        position: unset;
        padding: 2rem 1.6rem 2rem;
        background: #F5F5F5;
    }

    .popup-main__close img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .popup-main__btns a {
        width: 7rem;
        height: 2.5rem;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #171719;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-main__input {
        position: relative;
        width: 100%;
        margin-top: 3rem;
    }

    .popup-main__input input {
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        border: 1px solid #ddd;
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    .popup-main__searchbtn {
        position: absolute;
        right: 1.7rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
    }

    .popup-main__searchbtn img {
        width: 2rem;
        height: 2rem;
    }

    .popup-main__linksMb {
        display: flex;
        height: 4rem;
    }

    .popup-main__linksMb a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #666;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        width: 50%;
        height: 4rem;
    }

    .popup-main__linksMb a:last-child {
        border-left: 1px solid #fff;
    }

    .popup-main__cols {
        flex-direction: column;
        gap: 0;
    }

    .popup-main__cols.mt5 {
        margin-top: 0rem;
    }

    .popup-main__col {
        width: 100%;
    }

    .popup-main__menu-item--active .popup-main__menu-btn {
        background: #F5F5F5;
        color: #111;
        box-shadow: none;
    }

    .popup-main__col-title {
        font-size: 1.3rem;
        padding: 1.7rem 1rem;
        margin-bottom: 0;
        height: auto;
        width: 100%;
    }

    .popup-main__links {
        padding-left: 1rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ddd;
    }

    .popup-main__links li {
        font-size: 1.3rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    .popup-main__links li a {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .inner {
        padding: 0 1.6rem;
    }

    .header-main .header-main__center,
    .header-main .nav .nav__list,
    .header-main .header-main__search,
    .header-main .header-main__item,
    .tool-main,
    .scroll-bg {
        display: none;
    }

    .header-main nav {
        display: none;
    }

    #wrap {
        padding-top: 5rem;
    }

    .header-main .inner {
        height: 8rem;
    }

    .header-main .menu-btn {
        height: 2.6rem;
        width: 2.8rem;
    }

    .screen1-main {
        background-size: 830px;
        min-height: 20rem;
    }

    .screen1-main .main-des {
        width: 22rem;
        height: 20rem;
        padding-left: 2rem;
        background: #ffffffde;
    }

    .screen1-main .main-des p {
        font-size: 1.6rem;
    }

    .screen1-main .main-des span {
        font-size: 1rem;
    }

    .screen2-main {
        padding: 5rem 0;
    }

    .screen2__des {
        position: relative;
        padding-bottom: 2.5rem;
    }

    .screen2__title {
        margin-bottom: 0;
    }

    .screen2__title h2 {
        font-size: 1.7rem;
    }

    .screen2__title h3 {
        font-size: 1.5rem;
    }

    .screen2__link a,
    .screen2__link a:first-child {
        padding: .4rem .9rem .3rem 1rem;
        font-size: 1.1rem;
    }

    .screen2__title p {
        font-size: 1.3rem;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .screen2__des {
        align-items: center;
    }

    .screen2__link a img {
        width: 2rem;
        height: 2rem;
    }

    .screen2__slide-text {
        font-size: 1.2rem;
    }

    .screen2__slide-icon {
        height: 4rem;
    }

    .screen2__slide-item {
        min-width: 12rem;
    }

    .screen2__slide-arrow {
        padding: 0;
    }

    .screen2__slide {
        padding: 5rem 0 3rem;
    }

    .screen2__bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .screen2__card {
        width: 100%;
        padding: 2rem;
    }

    .screen2__pitture {
        flex-direction: row;
        gap: 1.5rem;
    }

    .screen2__content {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .screen2__content:last-child {
        padding: 1rem 0 0;
    }

    .screen2__tit h4 {
        font-size: 1.5rem;
    }

    .screen2__tit h6 {
        font-size: 1.2rem;
    }

    .screen2__text-note {
        font-size: 1.2rem;
    }

    .screen2__note {
        padding: 1rem 0;
    }

    .screen2__icon {
        width: 2rem;
        height: 2rem;
        font-size: 1.9rem;
    }

    .screen2__pic {
        width: 16rem;
        height: 14.2rem;
    }

    .screen2__pic img {
        width: 16rem;
        height: 14.2rem;
    }

    .screen2__track {
        display: flex;
        justify-content: left;
        overflow: hidden;
        width: 100%;
    }

    .screen2__item {
        min-width: 80%;
        width: 100%;
        margin-right: 2rem;
        padding: 2rem;
    }

    .screen2__text p {
        font-size: 1.2rem;
    }

    .screen2__text b {
        font-size: 1.2rem;
    }

    .screen2__slide-arrow {
        font-size: 3.5rem;
    }

    .screen3__box {
        margin-top: 2rem;
        gap: 1rem;
    }

    .screen3__item.flex {
        gap: .5rem;
    }

    .screen3__card {
        background: #f5f5f5;
        height: 5.1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        width: calc((100% - 1rem)/3);
    }

    .screen3__item .screen2__tit {
        margin-bottom: 1rem;
    }

    .screen3__item {
        width: 100%;
        padding: 2rem;
    }

    .selectbox.min175 {
        min-width: auto;
        max-width: 100%;
        width: 100%;
    }

    .screen3__text {
        font-size: 1.2rem;
        padding: 0 0 2rem;
    }

    .screen3__group {
        margin-bottom: .5rem;
    }

    .screen3__group label {
        width: 6rem;
    }

    .screen4-main .screen4__link {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 4rem 0 2rem;
    }

    .screen4__link a {
        font-size: 1.1rem;
        padding: .4rem 1rem;
    }

    .screen4__des.column {
        gap: 1rem;
        position: relative;
    }

    .screen4__des {
        position: relative;
    }

    .screen4__des.column .screen2__icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .screen4__note {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        margin: 3rem 0;
        left: 2rem;
        right: 2rem;
    }

    .screen4__text {
        font-size: 1.2rem;
        margin: .5rem 0 .7rem;
    }

    .screen4-main .screen2__icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .screen4__item {
        min-width: 88%;
        width: 88%;
        padding: 2rem 3rem;
        margin-right: 2rem;
    }

    .screen4__dots {
        margin-top: 2rem;
    }

    .screen5-main {
        padding: 5rem 0 0;
    }

    .screen5__box {
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 2rem 5rem;
    }

    .screen5__item {
        width: 100%;
    }

    .screen5__title {
        font-size: 1.5rem;
        padding: .9rem 3rem;
        height: 4rem;
    }

    .screen5__text {
        padding: 2rem 3rem
    }

    .screen5__text p,
    .screen5__text span {
        font-size: 1.2rem;
    }

    .screen5__item.blue {
        margin-bottom: 0;
    }

    .scroll-bg img {
        width: 1.2rem;
        height: auto;
    }

    .scroll-bg {
        width: 3.5rem;
        height: 3.5rem;
        right: 2.5rem;
    }

    .tool-main {
        top: 38%;
        right: 2rem;
    }

    .tool-social-img {
        height: 3rem;
    }

    .tool-social ul {
        gap: 3rem;
    }

    .tool-social {
        right: 8rem;
        width: auto !important;
        padding: 2.3rem 1.5rem;
    }

    .tool-social-link+.tool-social-link::before {
        left: -1.5rem;
    }

    .footer-main__menu {
        gap: 1rem;
    }

    .footer-main__menu-item+.footer-main__menu-item::before {
        left: -1rem;
    }

    .footer-main__menu-item a {
        padding-right: 2rem;
    }

    .footer-main__sponsor-logos {
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-main__logo1 {
        width: 8rem;
    }

    .footer-main__logo2 {
        height: 2rem;
    }

    .footer-main__logo3 {
        height: 1.7rem;
    }

    .popup-main__sidebar {
        width: 15rem;
        padding: 0;
        text-align: center;
    }

    /* /1.1/ */
    .nav__item,
    .goto__list,
    .goto__nt,
    nav {
        display: none;
    }

    .nav__list {
        border-top: none;
        height: 0;
    }

    .header {
        height: 6rem;
    }

    .nav {
        height: 0;
    }

    .nav .menu-btn {
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .brdc {
        height: 3rem;
        margin-top: 1rem;
    }

    .brdc__item {
        display: flex;
        align-items: center;
    }

    .brdc__link {
        font-size: 1rem;
        color: #171719;
        padding: 0 1.3rem;
        width: 11rem;
    }

    .chc__tit h3 {
        font-size: 2.1rem;
    }

    .chc__tit p {
        font-size: 1.3rem;
    }

    .initial {
        margin-top: 2rem;
        width: 100%;
        padding: 0 1.6rem;
    }

    .initial__rt {
        padding: 3rem 2rem;
        width: 100%;
        margin: 0 auto;
    }

    .initial__search {
        padding: .9rem 1.8rem .7rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .initial__input {
        height: 3rem;
        font-size: .9rem;
    }

    .footer {
        padding: 6rem 1.5rem 4rem;
    }

    .footer__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    .footer__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        width: 100%;
    }

    .footer__item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .footer__item::after {
        content: "›";
        font-size: 1.5rem;
        color: #333;
    }

    .footer__link {
        font-size: 1.5rem;
    }

    .footer__md {
        margin-top: 3rem;
    }

    .footer__adr:last-child {
        flex-direction: column;
        gap: .8rem;
    }

    .footer__adr:last-child span+span::before {
        content: none;
    }

    .footer__adr {
        gap: 4rem;
    }

    .footer__adr span+span::before {
        left: -2rem;
        background-color: #37383C9C;
    }

    .footer .sns {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .footer__bm {
        border-top: none;
        flex-direction: column-reverse;
        padding-top: 0;
        margin-top: 3.5rem;
    }

    .footer__copy {
        text-align: center;
    }

    .certificate {
        padding-top: 4rem;
        margin-bottom: 6rem;
    }

    .chn__bor {
        gap: 5rem;
        padding: 1.5rem 3.6rem;
        margin: 0 -2rem;
    }

    .chc__block {
        margin-top: 3rem;
    }

    .initial__block {
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    .initial__btn {
        width: 2.2rem;
        height: 2.2rem;
    }

    .chc__btn {
        height: 2rem;
        width: 2rem;
    }

    .chc__item figure img {
        width: 4rem;
        height: 4rem;
    }

    .chc__list {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 2rem;
    }

    .chc__list.chc__list--img {
        column-gap: 1.7rem;
        row-gap: 1.7rem;
        overflow-y: scroll;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 3rem;
        margin: 0 0 0 2rem;
    }

    .chc__list.chc__list--img .chc__item {
        width: 9rem;
    }

    .chc__list.chc__list--img .chc__item span {
        font-size: 1.3rem;
    }

    .chc__item:nth-child(n + 4) {
        border-top: none;
    }

    .chc__item.highlight-top {
        border-top: 1px solid #ddd;
    }

    .chc__list--img .chc__item {
        border-top: none;
    }

    .chc__item.highlight-top4,
    .chc__item.highlight-top5,
    .chc__item.highlight-top6,
    .chc__item.highlight-top7,
    .chc__item.highlight-top8,
    .chc__item.highlight-top9,
    .chc__item.highlight-top10,
    .chc__item.highlight-top11,
    .chc__item.highlight-top12 {
        border-top: none;
    }

    .chc__item span {
        font-size: 1.2rem;
        white-space: unset;
        line-height: 100%;
        padding: .8rem 1rem;
        height: 4rem;
    }

    .chc__item span::before {
        width: .6rem;
        height: .6rem;
    }

    .game__link {
        font-size: 1.1rem;
        width: 6rem;
        height: 9.3rem;
        padding: 2rem 0 0;
    }

    .game__link img {
        height: 3rem;
        width: auto;
        margin-bottom: .5rem;
    }

    .game__pop {
        width: 30.5rem;
        padding: 2rem 2.4rem;
    }

    .game__list {
        gap: 0;
    }

    .game__tit {
        font-size: 1.5rem;
        margin-bottom: 2.2rem;
    }

    .game__desc {
        margin-top: 2rem;
    }

    .game__pop.on {
        left: 50% !important;
        transform: translateX(-50%);
    }
}

@media (max-width: 390px) {
    .screen2__slide-item {
        min-width: 11.7rem;
    }

    .screen4-main .screen4__link {
        padding: 6rem 0 2rem;
    }

    .chn__bor {
        gap: 4rem;
    }

    .initial__btn {
        width: 2rem;
        height: 2rem;
    }

    .chc__btn {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (max-width: 375px) {

    .screen5-main .screen4__link a {
        font-size: 1rem;
    }

    .screen2__slide-text {
        font-size: 1.1rem;
    }

    .screen2__slide-item {
        min-width: 11rem;
    }

    .popup-main__sidebar {
        width: 14rem;
    }
}

@media (max-width: 360px) {

    .screen2__pic {
        width: 14rem;
        height: 14.2rem;
    }

    .screen2__pic img {
        width: 14rem;
        height: 14.2rem;
    }
}

@media (max-width: 320px) {
    .screen2__des {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 6rem;
    }
}